Repository gabrielofavero/Trip-Viewer-Firebase: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-html, biome-js, biome-json, biome-css, biome-ts, run-python-script

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # HTML
      - id: biome-html
        name: Format HTML
        entry: bash -c "npx biome format --write || true"
        language: system
        files: ^public/(edit/)?[^/]+/.*\.html$|^public/.*\.html$

      # JS
      - id: biome-js
        name: Format JS
        entry: bash -c "npx biome format --write || true"
        language: system
        files: ^public/assets/js/.*\.js$

      # JSON
      - id: biome-json
        name: Format JSON
        entry: bash -c "npx biome format --write || true"
        language: system
        files: ^public/assets/json/.*\.json$

      # CSS
      - id: biome-css
        name: Format CSS
        entry: bash -c "npx biome format --write || true"
        language: system
        files: ^public/assets/css/.*\.css$

      # TypeScript (Firebase functions)
      - id: biome-ts
        name: Format TypeScript
        entry: bash -c "npx biome format --write || true"
        language: system
        files: ^functions/src/.*\.ts$

  - repo: local
    hooks:
      - id: run-python-script
        name: Formats README.md
        entry: bash -c "python readme.py || true"
        language: system
        files: ^README\.md$

index fixes
  public/assets/ts/pages/trip-detail/categories/accommodation-module.ts
  public/assets/ts/pages/trip-detail/categories/destination.ts
  public/assets/ts/pages/trip-detail/categories/itinerary-module/inner-itinerary.ts
  public/assets/ts/pages/trip-detail/categories/itinerary-module/itinerary-module.ts
  public/assets/ts/pages/trip-detail/support/embed.ts
  public/assets/ts/pages/trip-detail/support/sensitive-reservation.ts
  public/assets/ts/pages/trip-detail/view.ts
  public/assets/ts/theme/visibility.ts
  public/view.html
Due: biome-html

page fixes
  .vscode/tasks.json
  public/assets/ts/pages/destination/destination.ts
  public/assets/ts/pages/destination/support/media-embed.ts
  public/assets/ts/pages/destination/support/sort-and-filter/filter.ts
  public/assets/ts/pages/destination/support/sort-and-filter/sort-and-filter.ts
  public/assets/ts/pages/destination/support/sort-and-filter/sort.ts
  public/assets/ts/pages/destination/support/sort-and-filter/support/drawer.ts
  public/assets/ts/pages/destination/support/sort-and-filter/support/price-bucket.ts
  public/assets/ts/pages/destination/support/visibility.ts
  public/assets/ts/pages/edit-destination/categories/description.ts
  public/assets/ts/pages/edit-destination/edit-destination.ts
  public/assets/ts/pages/edit-destination/set-destination.ts
  public/assets/ts/pages/edit-trip/categories/expenses.ts
  public/assets/ts/pages/edit-trip/set-trip.ts
  public/assets/ts/pages/trip-detail/support/sensitive-reservation.ts
  public/assets/ts/pages/trip-detail/view.ts
  public/assets/ts/ui/embed.ts
  public/assets/ts/utils/dom.ts
  public/assets/ts/utils/pin.ts
  public/destination.html
  public/edit/destination.html
  public/edit/listing.html
  public/edit/trip.html
  public/expenses.html
  public/index.html
  public/itinerary.html
Due: biome-html

page fixes
  public/assets/ts/data/firebase/database.ts
  public/assets/ts/models/itinerary.model.ts
  public/assets/ts/pages/expenses/expenses.ts
  public/assets/ts/pages/itinerary/itinerary.ts
  public/assets/ts/pages/trip-detail/support/sensitive-reservation.ts
  public/assets/ts/utils/dom.ts
Due: none

page fixes
  public/assets/ts/pages/edit-trip/categories/expenses.ts
  public/assets/ts/pages/edit-trip/new-trip.ts
  public/assets/ts/theme/visibility.ts
Due: none

dev env fix
  package.json
  public/assets/ts/utils/dev.ts
  public/shared/livereload.html
  public/shared/scripts-vendor.html
  scripts/build/build.js
  scripts/build/inject-partials.js
Due: biome-html

edit trip fixes
  package.json
  public/assets/ts/data/firebase/storage.ts
  public/assets/ts/pages/destination/edit-destination.ts
  public/assets/ts/pages/destination/support/event-listeners.ts
  public/assets/ts/pages/edit-destination/categories/description.ts
  public/assets/ts/pages/edit-destination/edit-destination.ts
  public/assets/ts/pages/edit-destination/support/event-listeners.ts
  public/assets/ts/pages/edit-listing/edit-listing.ts
  public/assets/ts/pages/edit-trip/categories/accommodation.ts
  public/assets/ts/pages/edit-trip/categories/basic-data/protected-data.ts
  public/assets/ts/pages/edit-trip/categories/destination.ts
  public/assets/ts/pages/edit-trip/categories/expenses.ts
  public/assets/ts/pages/edit-trip/categories/itinerary-module/inner-itinerary/inner-itinerary.ts
  public/assets/ts/pages/edit-trip/categories/itinerary-module/inner-itinerary/text-replacement.ts
  public/assets/ts/pages/edit-trip/categories/itinerary-module/itinerary-module.ts
  public/assets/ts/pages/edit-trip/categories/transportation.ts
  public/assets/ts/pages/edit-trip/categories/travelers.ts
  public/assets/ts/pages/edit-trip/edit-trip.ts
  public/assets/ts/pages/edit-trip/support/event-listeners.ts
  public/assets/ts/pages/trip-detail/categories/itinerary-module/calendar.ts
  public/assets/ts/pages/trip-detail/categories/itinerary-module/itinerary-module.ts
  public/assets/ts/pages/trip-detail/support/sensitive-reservation.ts
  public/assets/ts/pages/trip-detail/view.ts
  public/assets/ts/theme/visibility.ts
  public/assets/ts/utils/dates.ts
  public/assets/ts/utils/messages.ts
  scripts/build/build.js
  scripts/build/inject-partials.js
Due: none

page fixes
  public/assets/ts/pages/destination/import-destination.ts
  public/assets/ts/pages/edit-destination/import-destination.ts
  public/assets/ts/pages/edit-trip/categories/basic-data/protected-data.ts
  public/assets/ts/pages/edit-trip/categories/basic-data/set-protected-data.ts
  public/assets/ts/pages/edit-trip/set-trip.ts
  public/assets/ts/utils/set.ts
Due: none

page fixes
  package.json
  public/assets/css/base/dark-mode.css
  public/assets/css/base/variables.css
  public/assets/css/edit/edit.css
  public/assets/css/index/index.css
  public/assets/css/view/view.css
  public/assets/json/languages/en.json
  public/assets/json/languages/pt.json
  public/assets/ts/pages/edit-trip/categories/basic-data/set-protected-data.ts
  public/assets/ts/pages/edit-trip/set-trip.ts
  public/assets/ts/pages/home/support/data.ts
  public/assets/ts/pages/trip-detail/categories/itinerary-module/inner-itinerary.ts
  public/assets/ts/utils/messages.ts
  public/edit/destination.html
  public/edit/listing.html
  public/edit/trip.html
Due: biome-html, biome-json, biome-css

initial impl
  README.md
  ai/analysis/edit-styling-guide.md
  public/assets/css/base/dark-mode.css
  public/assets/css/components/accordion.css
  public/assets/css/edit/edit.css
  public/assets/ts/pages/edit-destination/edit-destination.ts
  public/assets/ts/pages/edit-listing/edit-listing.ts
  public/assets/ts/pages/edit-trip/edit-trip.ts
  public/assets/ts/ui/edit-tabs.ts
  public/edit/destination.html
  public/edit/listing.html
  public/edit/trip.html
  scripts/build/deploy.py
Due: biome-html, biome-css, run-python-script

improvements
  public/assets/css/edit/edit.css
  public/assets/ts/data/firebase/storage.ts
Due: biome-css

improvements
  .vscode/settings.json
  ai/analysis/edit-styling-guide.md
  pocs/html templates/editar-template.html
  public/assets/css/base/dark-mode.css
  public/assets/css/edit/edit.css
  public/assets/css/index/index.css
  public/assets/ts/ui/edit-tabs.ts
  public/edit/destination.html
  public/edit/listing.html
  public/edit/trip.html
  scripts/build/build.js
Due: biome-html, biome-css

improvements
  ai/analysis/1-framework-recommendation.md
  ai/analysis/2-edit-styling-guide.md
  ai/analysis/3-firestore-auth-intensity.md
  firebase-config.js
  firebase.json
  package.json
  public/assets/css/base/preloader.css
  public/assets/css/components/modal.css
  public/assets/css/edit/edit.css
  public/assets/css/index/index.css
  public/assets/json/languages/en.json
  public/assets/json/languages/pt.json
  public/assets/ts/backup/restore.ts
  public/assets/ts/data/firebase/database.ts
  public/assets/ts/pages/edit-listing/edit-listing.ts
  public/assets/ts/pages/edit-trip/edit-trip.ts
  public/assets/ts/ui/color-picker-hex.ts
  public/assets/ts/ui/date-range-picker.ts
  public/assets/ts/utils/messages.ts
  public/edit/listing.html
  public/edit/trip.html
Due: biome-html, biome-json, biome-css

improvements
  public/assets/css/base/dark-mode.css
  public/assets/css/edit/edit.css
  public/assets/json/languages/en.json
  public/assets/json/languages/pt.json
  public/assets/ts/pages/edit-listing/edit-listing.ts
  public/assets/ts/pages/edit-listing/existing-listing.ts
  public/assets/ts/pages/edit-trip/categories/destination.ts
  public/assets/ts/pages/edit-trip/categories/itinerary-module/inner-itinerary/inner-itinerary.ts
  public/assets/ts/pages/edit-trip/categories/itinerary-module/itinerary-module.ts
  public/assets/ts/pages/edit-trip/edit-trip.ts
  public/assets/ts/pages/edit-trip/existing-trip.ts
  public/assets/ts/pages/edit-trip/new-trip.ts
  public/assets/ts/theme/visibility.ts
  public/edit/listing.html
  public/edit/trip.html
Due: biome-html, biome-json, biome-css

readme
  README.md
Due: run-python-script

E044 (#30)
  .vscode/settings.json
  README.md
  ai/analysis/1-framework-recommendation.md
  ai/analysis/2-edit-styling-guide.md
  ai/analysis/3-firestore-auth-intensity.md
  firebase-config.js
  firebase.json
  package.json
  pocs/html templates/editar-template.html
  public/assets/css/base/dark-mode.css
  public/assets/css/base/preloader.css
  public/assets/css/components/accordion.css
  public/assets/css/components/modal.css
  public/assets/css/edit/edit.css
  public/assets/css/index/index.css
  public/assets/json/languages/en.json
  public/assets/json/languages/pt.json
  public/assets/ts/backup/restore.ts
  public/assets/ts/data/firebase/database.ts
  public/assets/ts/data/firebase/storage.ts
  public/assets/ts/pages/edit-destination/edit-destination.ts
  public/assets/ts/pages/edit-listing/edit-listing.ts
  public/assets/ts/pages/edit-listing/existing-listing.ts
  public/assets/ts/pages/edit-trip/categories/destination.ts
  public/assets/ts/pages/edit-trip/categories/itinerary-module/inner-itinerary/inner-itinerary.ts
  public/assets/ts/pages/edit-trip/categories/itinerary-module/itinerary-module.ts
  public/assets/ts/pages/edit-trip/edit-trip.ts
  public/assets/ts/pages/edit-trip/existing-trip.ts
  public/assets/ts/pages/edit-trip/new-trip.ts
  public/assets/ts/theme/visibility.ts
  public/assets/ts/ui/color-picker-hex.ts
  public/assets/ts/ui/date-range-picker.ts
  public/assets/ts/ui/edit-tabs.ts
  public/assets/ts/utils/messages.ts
  public/edit/destination.html
  public/edit/listing.html
  public/edit/trip.html
  scripts/build/build.js
  scripts/build/deploy.py
Due: biome-html, biome-json, biome-css, run-python-script

docs
  _check.py
  _check_ua.py
  ai/analysis/firestore-auth-intensity.md
  ai/analysis/new-database-proposal.md
  ai/tasks/8-english-migration-plan.md
  docs/database/database-structure.drawio
  docs/database/database-structure.ts
  docs/database/proposals/option-a-simple-translation.drawio
  docs/database/proposals/option-b-optimized-redesign.drawio
Due: none

P1
  public/assets/ts/models/new-schema.ts
Due: none

P2
  .gitignore
  firebase.json
  functions/.gitignore
  functions/package-lock.json
  functions/src/index.ts
  functions/src/migrations/01-migrate-gastos.ts
  functions/src/migrations/02-migrate-hospedagem-imagem.ts
  functions/src/migrations/03-migrate-timezones.ts
  functions/src/migrations/04-migrate-transporte-visualizacao.ts
  functions/src/migrations/05-migrate-destination-descriptions.ts
  functions/src/migrations/06-migrate-pessoas.ts
  functions/src/migrations/07-migrate-travelers.ts
  functions/src/migrations/08-migrate-trip-protected-data.ts
  functions/src/migrations/09-migrate-protected-translation.ts
  functions/src/migrations/10-migrate-minimal-user-data.ts
  functions/src/migrations/11-migrate-minimal-user-trip-modules.ts
  functions/src/migrations/12-migrate-destination-object.ts
  functions/src/migrations/13-migrate-english-fields.ts
  functions/tsconfig.json
  package.json
Due: biome-ts

p2-FIX
  .gitignore
  firebase.json
  package.json
Due: none

p2-fix-2
  public/assets/ts/backup/restore.ts
  public/assets/ts/data/firebase/database.ts
Due: none

p2-fix-3
  .gitignore
  functions/src/migrations/13-migrate-english-fields.ts
Due: biome-ts

p3
  functions/src/index.ts
  functions/src/migrations/13-migrate-english-fields.ts
  functions/src/migrations/14-migrate-user-summaries.ts
  functions/src/migrations/15-migrate-trip-destinations.ts
  functions/src/migrations/16-migrate-accommodations-subcollection.ts
  functions/src/migrations/17-migrate-transportation-subcollection.ts
  functions/src/migrations/18-migrate-schedule-subcollection.ts
Due: biome-ts

p4
  functions/src/index.ts
  functions/src/migrations/19-migrate-collection-names.ts
Due: biome-ts

p5
  functions/src/index.ts
  functions/src/migrations/20-migrate-cleanup.ts
Due: biome-ts

fixes
  functions/src/migrations/13-migrate-english-fields.ts
  functions/src/migrations/15-migrate-trip-destinations.ts
  functions/src/migrations/19-migrate-collection-names.ts
  public/assets/ts/models/new-schema.ts
Due: biome-ts

scripts finetuning
  ai/analysis/new-database-proposal.md
  ai/tasks/8-english-migration-plan.md
  functions/src/index.ts
  functions/src/migrations/13-migrate-english-fields.ts
  functions/src/migrations/18-migrate-itinerary-subcollection.ts
  functions/src/migrations/19-migrate-collection-names.ts
  functions/src/migrations/20-migrate-cleanup.ts
  package.json
  public/assets/ts/models/new-schema.ts
Due: biome-ts

p6
  public/assets/ts/data/firebase/auth.ts
  public/assets/ts/data/firebase/database.ts
Due: none

p7
  public/assets/ts/data/services/auth.service.ts
  public/assets/ts/data/services/destination.service.ts
  public/assets/ts/data/services/expense.service.ts
  public/assets/ts/data/services/trip.service.ts
Due: none

p8
  public/assets/ts/models/destination.model.ts
  public/assets/ts/models/expense.model.ts
  public/assets/ts/models/itinerary.model.ts
  public/assets/ts/models/traveler.model.ts
  public/assets/ts/models/trip.model.ts
Due: none

p9 + p10
  README.md
  ai/tasks/8-english-migration-plan.md
  functions/src/index.ts
  functions/src/migrations/18-migrate-schedule-subcollection.ts
  public/assets/ts/app/config.ts
  public/assets/ts/data/state.ts
Due: biome-ts, run-python-script

p12
  ai/tasks/8-data-english-migration-plan.md
  public/assets/ts/app/config.ts
  public/assets/ts/models/expense.model.ts
  public/assets/ts/models/itinerary.model.ts
  public/assets/ts/pages/destination/categories.ts
  public/assets/ts/pages/destination/destination.ts
  public/assets/ts/pages/destination/support/content.ts
  public/assets/ts/pages/destination/support/trip.ts
  public/assets/ts/pages/edit-destination/categories/description.ts
  public/assets/ts/pages/edit-destination/categories/price.ts
  public/assets/ts/pages/edit-destination/set-destination.ts
  public/assets/ts/pages/edit-trip/categories/accommodation.ts
  public/assets/ts/pages/edit-trip/categories/expenses.ts
  public/assets/ts/pages/edit-trip/categories/itinerary-module/inner-itinerary/inner-itinerary.ts
  public/assets/ts/pages/edit-trip/categories/transportation.ts
  public/assets/ts/pages/edit-trip/new-trip.ts
  public/assets/ts/pages/trip-detail/categories/destination.ts
  public/assets/ts/pages/trip-detail/categories/itinerary-module/inner-itinerary.ts
  public/assets/ts/pages/trip-detail/categories/transportation-module.ts
  public/assets/ts/theme/colors.ts
  public/assets/ts/utils/dom.ts
  public/assets/ts/utils/messages.ts
Due: none

p13
  public/assets/css/expenses/expenses.css
  public/assets/ts/models/expense.model.ts
  public/assets/ts/pages/edit-trip/categories/expenses.ts
  public/assets/ts/pages/edit-trip/existing-trip.ts
  public/assets/ts/pages/edit-trip/set-trip.ts
  public/assets/ts/pages/expenses/categories.ts
  public/assets/ts/pages/expenses/expenses.ts
  public/assets/ts/pages/expenses/support/currency.ts
  public/edit/trip.html
  public/expenses.html
Due: biome-html, biome-css

P14
  pocs/responses examples/Firestore/FIRESTORE_DATA.json
Due: none

9-p1
  ai/tasks/9-final-english-cleanup-plan.md
  public/assets/css/destination/destination.css
  public/assets/css/itinerary/itinerary.css
  public/assets/css/view/view.css
  public/assets/ts/backup/backup.ts
  public/assets/ts/pages/edit-trip/categories/accommodation.ts
  public/assets/ts/pages/edit-trip/categories/destination.ts
  public/assets/ts/pages/edit-trip/categories/gallery.ts
  public/assets/ts/pages/edit-trip/categories/itinerary-module/inner-itinerary/content.ts
  public/assets/ts/pages/edit-trip/categories/itinerary-module/inner-itinerary/inner-itinerary.ts
  public/assets/ts/pages/edit-trip/categories/transportation.ts
  public/assets/ts/pages/edit-trip/support/event-listeners.ts
  public/assets/ts/pages/expenses/categories.ts
  public/assets/ts/pages/trip-detail/categories/destination.ts
  public/assets/ts/pages/trip-detail/categories/gallery.ts
  public/assets/ts/utils/messages.ts
Due: biome-css

9-p2
  scripts/build/id-class-map.json
  scripts/build/translate-ids.js
Due: none

9-p5
  public/assets/ts/backup/backup.ts
  public/assets/ts/backup/restore.ts
  public/assets/ts/data/firebase/database.ts
  public/assets/ts/pages/edit-destination/edit-destination.ts
  public/assets/ts/pages/edit-listing/edit-listing.ts
  public/assets/ts/pages/edit-trip/categories/accommodation.ts
  public/assets/ts/pages/edit-trip/edit-trip.ts
  public/assets/ts/pages/edit-trip/support/event-listeners.ts
  public/assets/ts/pages/expenses/expenses.ts
  public/assets/ts/pages/home/support/navigation.ts
  public/assets/ts/pages/itinerary/itinerary.ts
  public/assets/ts/pages/trip-detail/categories/itinerary-module/itinerary-module.ts
  public/assets/ts/pages/trip-detail/support/embed.ts
  public/assets/ts/pages/trip-detail/view.ts
  public/assets/ts/ui/fields.ts
  public/assets/ts/utils/dom.ts
  public/assets/ts/utils/set.ts
Due: none
