Repository gabrielofavero/Trip-Viewer-Firebase: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-html, biome-js, biome-json, biome-css, biome-ts, run-python-script

biome-html:
  name: Format HTML
  entry: bash -c "npx biome format --write || true"
  language: system

biome-js:
  name: Format JS
  entry: bash -c "npx biome format --write || true"
  language: system

biome-json:
  name: Format JSON
  entry: bash -c "npx biome format --write || true"
  language: system

biome-css:
  name: Format CSS
  entry: bash -c "npx biome format --write || true"
  language: system

biome-ts:
  name: Format TypeScript
  entry: bash -c "npx biome format --write || true"
  language: system

run-python-script:
  name: Formats README.md
  entry: bash -c "python readme.py || true"
  language: system

chore: bump version
  CHANGELOG.md
  README.md
  functions/src/index.ts
  public/assets/json/version.json
Due: biome-json, biome-ts, run-python-script

worker fix
  .codex/skills/backlog-management/SKILL.md
  .codex/skills/backup-restore/SKILL.md
  .codex/skills/browser-navigation/SKILL.md
  .codex/skills/build-pipeline/SKILL.md
  .codex/skills/css-ui-patterns/SKILL.md
  .codex/skills/data-model/SKILL.md
  .codex/skills/firebase-emulators/SKILL.md
  .codex/skills/git-workflow/SKILL.md
  .codex/skills/i18n-system/SKILL.md
  .codex/skills/migration-system/SKILL.md
  .codex/skills/ntfy-notifications/SKILL.md
  .codex/skills/query-firestore/SKILL.md
  .codex/skills/static-export/SKILL.md
  .codex/skills/typescript-conventions/SKILL.md
  .github/copilot-instructions.md
  AGENTS.md
  README.md
  copilot-instructions.md
  package.json
  public/assets/ts/static-export/build-zip.ts
  scripts/dev/ensure-ports-free.js
  workers/image-proxy/README.md
  workers/image-proxy/package.json
  workers/places-api/package.json
Due: run-python-script

docs: update readme
  README.md
Due: run-python-script

F188
  README.md
  public/assets/json/languages/en.json
  public/assets/json/languages/pt.json
  public/assets/ts/pages/edit-trip/categories/transportation.ts
  public/assets/ts/pages/edit-trip/categories/travelers.ts
  public/assets/ts/pages/edit-trip/edit-trip.ts
  public/assets/ts/pages/edit-trip/existing-trip.ts
  public/assets/ts/pages/edit-trip/new-trip.ts
  public/assets/ts/pages/edit-trip/support/event-listeners.ts
  public/assets/ts/pages/trip-detail/categories/transportation-module.ts
  public/assets/ts/pages/trip-detail/support/item-dialogs.ts
Due: biome-json, run-python-script

F071, E014
  README.md
  docs/implementation-plans/20260822-expenses-multiperson-overhaul.md
  functions/src/migrations/20-migrate-expense-fields.ts
  public/assets/css/edit/edit.css
  public/assets/css/expenses/expenses.css
  public/assets/json/languages/en.json
  public/assets/json/languages/pt.json
  public/assets/ts/models/expense.model.ts
  public/assets/ts/pages/edit-trip/categories/expenses.ts
  public/assets/ts/pages/expenses/mount.ts
  public/assets/ts/pages/expenses/support/data.ts
  public/shared/expenses-content.html
Due: biome-html, biome-json, biome-css, biome-ts, run-python-script

B176
  README.md
  public/assets/ts/utils/dom.ts
Due: run-python-script

M185
  .github/skills/firebase-emulators/SKILL.md
  README.md
  package-lock.json
  package.json
  scripts/dev/start-emulator.js
  yarn.lock
Due: run-python-script

F189
  README.md
  functions/src/index.ts
  public/assets/css/edit/edit.css
  public/assets/json/languages/en.json
  public/assets/json/languages/pt.json
  public/assets/ts/pages/edit-trip/categories/destination.ts
  public/assets/ts/pages/edit-trip/categories/itinerary-module/inner-itinerary/inner-itinerary.ts
  public/assets/ts/pages/edit-trip/categories/travelers.ts
  public/assets/ts/pages/edit-trip/categories/wallpaper-import.ts
  public/assets/ts/pages/edit-trip/new-trip.ts
  public/assets/ts/pages/edit-trip/support/event-listeners.ts
  public/assets/ts/pages/edit-trip/trip-entry.ts
  public/edit/trip.html
Due: biome-html, biome-json, biome-css, biome-ts, run-python-script

F189 (improvements)
  README.md
  docs/analysis/20260823-scrapling-evaluation.md
  public/assets/css/edit/edit.css
  public/assets/json/languages/en.json
  public/assets/json/languages/pt.json
  public/assets/ts/pages/edit-destination/destination-entry.ts
  public/assets/ts/pages/edit-destination/edit-destination.ts
  public/assets/ts/pages/edit-destination/support/event-listeners.ts
  public/assets/ts/pages/edit-trip/categories/wallpaper-import.ts
  public/assets/ts/pages/edit-trip/support/event-listeners.ts
  public/assets/ts/ui/image-picker.ts
  public/edit/destination.html
  public/edit/trip.html
Due: biome-html, biome-json, biome-css, run-python-script

B177, B178, M186, M183, M184
  .github/copilot-instructions.md
  .github/skills/migration-system/SKILL.md
  CHANGELOG.md
  README.md
  copilot-instructions.md
  docs/analysis/20260823-companion-app-review.md
  docs/analysis/20260823-low-priority-backlog-review.md
  package.json
  public/assets/css/base/dark-mode.css
  public/assets/css/base/preloader.css
  public/assets/css/edit/edit.css
  public/assets/css/expenses/expenses.css
  public/assets/css/view/view.css
  public/assets/json/languages/en.json
  public/assets/json/languages/pt.json
  public/assets/json/version.json
  public/assets/ts/pages/edit-trip/categories/expenses.ts
  public/assets/ts/pages/expenses/expenses.ts
  public/assets/ts/pages/expenses/mount.ts
  public/assets/ts/pages/home/support/data.ts
  public/assets/ts/pages/trip-detail/support/sensitive-reservation.ts
  public/assets/ts/pages/trip-detail/view.ts
  public/assets/ts/ui/sortable.ts
  public/assets/ts/utils/messages.ts
  scripts/README.md
  scripts/build/deploy.py
  scripts/build/migrations-config.json
  scripts/build/migrations-state.json
  scripts/utils/open-on-ready.js
Due: biome-json, biome-css, run-python-script

M187, M182, M188, M189
  .firebaserc
  .github/copilot-instructions.md
  .github/skills/backlog-management/SKILL.md
  .github/skills/build-pipeline/SKILL.md
  .github/skills/firebase-emulators/SKILL.md
  .github/skills/git-workflow/SKILL.md
  .github/skills/migration-system/SKILL.md
  .github/skills/query-firestore/SKILL.md
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
  CHANGELOG.md
  README.md
  docs/package-scripts.md
  firebase-config.js
  functions/package.json
  functions/src/dev/init-local-db.ts
  functions/src/index.ts
  package.json
  public/assets/json/version.json
  public/assets/ts/app/main.ts
  scripts/build/build.js
  scripts/build/deploy.py
  scripts/build/inject-partials.js
  scripts/build/migrations-state.json
  scripts/build/run-migrations.py
  scripts/dev/query-firestore.js
  workers/image-proxy/README.md
  workers/image-proxy/src/auth.js
  workers/image-proxy/src/config.js
  workers/places-api/README.md
  workers/places-api/src/auth.js
  workers/places-api/src/config.js
Due: biome-json, biome-ts, run-python-script

F190
  README.md
  public/assets/json/languages/en.json
  public/assets/json/languages/pt.json
  public/assets/ts/app/main.ts
  public/assets/ts/app/version-check.ts
Due: biome-json, run-python-script

F191
  README.md
  public/assets/css/expenses/expenses.css
  public/assets/json/icons.json
  public/assets/json/languages/en.json
  public/assets/json/languages/pt.json
  public/assets/ts/pages/expenses/categories.ts
Due: biome-json, biome-css, run-python-script

M190
  README.md
  public/assets/css/edit/edit.css
  public/assets/json/languages/en.json
  public/assets/json/languages/pt.json
  public/assets/ts/pages/edit-trip/categories/wallpaper-import.ts
  public/assets/ts/ui/image-picker.ts
Due: biome-json, biome-css, run-python-script

F191 (extra icon)
  public/assets/json/icons.json
  public/assets/ts/pages/expenses/categories.ts
Due: biome-json

F065
  .github/skills/data-model/SKILL.md
  .github/skills/migration-system/SKILL.md
  README.md
  docs/database/trip-document-structure.md
  functions/src/migrations/21-migrate-accommodation-payment-status.ts
  public/assets/css/base/dark-mode.css
  public/assets/css/view/view.css
  public/assets/json/languages/en.json
  public/assets/json/languages/pt.json
  public/assets/ts/models/schema.ts
  public/assets/ts/pages/edit-trip/categories/accommodation.ts
  public/assets/ts/pages/edit-trip/existing-trip.ts
  public/assets/ts/pages/edit-trip/new-trip.ts
  public/assets/ts/pages/trip-detail/categories/accommodation-module.ts
  scripts/build/migrations-config.json
Due: biome-json, biome-css, biome-ts, run-python-script

F192
  README.md
  public/assets/json/languages/en.json
  public/assets/json/languages/pt.json
  public/assets/ts/pages/edit-trip/categories/accommodation-import.ts
  public/assets/ts/pages/edit-trip/new-trip.ts
  public/assets/ts/pages/edit-trip/support/event-listeners.ts
Due: biome-json, run-python-script

F193
  README.md
  public/assets/ts/ui/image-picker.ts
Due: run-python-script

F194
  README.md
  public/assets/json/languages/en.json
  public/assets/json/languages/pt.json
  public/assets/ts/pages/edit-trip/categories/accommodation-import.ts
  public/assets/ts/pages/edit-trip/categories/transportation-import.ts
  public/assets/ts/pages/edit-trip/new-trip.ts
  public/assets/ts/pages/edit-trip/support/event-listeners.ts
Due: biome-json, run-python-script

chore: update version
  CHANGELOG.md
  package.json
  public/assets/json/version.json
  scripts/build/migrations-state.json
Due: biome-json

B179
  README.md
  public/assets/ts/pages/edit-trip/categories/transportation.ts
Due: run-python-script

B180
  README.md
  docs/database/trip-document-structure.md
  public/assets/css/base/dark-mode.css
  public/assets/css/edit/edit.css
  public/assets/css/view/view.css
  public/assets/json/languages/en.json
  public/assets/json/languages/pt.json
  public/assets/ts/data/firebase/database.ts
  public/assets/ts/pages/edit-trip/categories/transportation.ts
  public/assets/ts/pages/edit-trip/new-trip.ts
Due: biome-json, biome-css, run-python-script

chore: update version
  CHANGELOG.md
  README.md
  package.json
  public/assets/json/version.json
  scripts/build/migrations-state.json
Due: biome-json, run-python-script

B194
  README.md
  public/assets/css/base/dark-mode.css
  public/assets/css/components/frosted-tabs.css
Due: biome-css, run-python-script

B196
  scripts/utils/open-on-ready.js
Due: none

B197
  scripts/utils/open-on-ready.js
Due: none

v2.27.1
  .github/copilot-instructions.md
  .github/skills/browser-navigation/SKILL.md
  .github/skills/firebase-emulators/SKILL.md
  CHANGELOG.md
  README.md
  copilot-instructions.md
  docs/implementation-plans/20260826-mymaps-import-destination.md
  package.json
  public/assets/css/components/modal.css
  public/assets/json/version.json
  public/assets/ts/app/main.ts
  public/assets/ts/data/services/gmaps-scraper.service.ts
  public/assets/ts/data/services/mymaps-kml.service.ts
  public/assets/ts/models/places-api.model.ts
  public/assets/ts/pages/edit-destination/support/mymaps-import.ts
  public/assets/ts/pages/edit-trip/categories/itinerary-module/inner-itinerary/inner-itinerary.ts
  public/assets/ts/places/places-bulk.ts
  public/assets/ts/places/places-dialog.ts
  public/assets/ts/places/places-source-step.ts
  public/assets/ts/utils/messages.ts
  scripts/gmaps-scraper/README.md
  workers/places-api/README.md
  workers/places-api/src/index.js
  workers/places-api/src/normalize.js
Due: biome-json, biome-css, run-python-script

M217, B202
  CHANGELOG.md
  README.md
  public/assets/ts/backup/backup.ts
  public/assets/ts/backup/export-documents.ts
  public/assets/ts/pages/home/support/event-listeners.ts
  public/assets/ts/static-export/build-zip.ts
  public/assets/ts/utils/operation-guard.ts
Due: run-python-script

E053
  CHANGELOG.md
  README.md
  docs/implementation-plans/20260828-maps-import-enrichment-overhaul.md
  package.json
  public/assets/css/edit/edit.css
  public/assets/json/languages/en.json
  public/assets/json/languages/pt.json
  public/assets/ts/data/services/mymaps-kml.service.ts
  public/assets/ts/data/services/places-api.service.ts
  public/assets/ts/models/schema.ts
  public/assets/ts/pages/edit-destination/edit-destination.ts
  public/assets/ts/pages/edit-destination/support/mymaps-import.ts
  public/assets/ts/places/places-apply-flow.ts
  public/assets/ts/places/places-apply.ts
  public/assets/ts/places/places-bulk.ts
  public/assets/ts/places/places-closed-photos-step.ts
  public/assets/ts/places/places-details-step.ts
  public/assets/ts/places/places-dialog.ts
  public/assets/ts/places/places-pending.ts
  public/assets/ts/places/places-search-step.ts
  workers/places-api/src/index.js
Due: biome-json, biome-css, run-python-script

E053 (fixes)
  docs/implementation-plans/20260826-mymaps-import-destination.md
  docs/places-bulk-options.drawio
  package.json
  public/assets/json/languages/en.json
  public/assets/json/languages/pt.json
  public/assets/ts/pages/edit-destination/edit-destination.ts
  public/assets/ts/pages/edit-destination/set-destination.ts
  public/assets/ts/pages/edit-destination/support/mymaps-import.ts
  public/assets/ts/places/places-pending.ts
Due: biome-json

v2.28.0
  CHANGELOG.md
  public/assets/json/version.json
Due: biome-json

M217
  README.md
  public/assets/css/edit/edit.css
  public/assets/json/languages/en.json
  public/assets/json/languages/pt.json
  public/assets/ts/pages/edit-destination/support/mymaps-import.ts
Due: biome-json, biome-css, run-python-script

chore: bump version
  CHANGELOG.md
  public/assets/json/version.json
  public/version.json
Due: biome-json

v2.28.2
  CHANGELOG.md
  README.md
  docs/analysis/20260903-page-load-performance.md
  package.json
  public/assets/css/base/dark-mode.css
  public/assets/css/components/modal.css
  public/assets/css/edit/edit.css
  public/assets/css/expenses/expenses.css
  public/assets/css/itinerary/itinerary.css
  public/assets/json/languages/en.json
  public/assets/json/languages/pt.json
  public/assets/json/version.json
  public/assets/ts/data/services/mymaps-kml.service.ts
  public/assets/ts/pages/edit-destination/edit-destination.ts
  public/assets/ts/pages/edit-destination/support/mymaps-import.ts
  public/assets/ts/places/places-apply-flow.ts
  public/assets/ts/places/places-apply.ts
  public/assets/ts/theme/icons.ts
  public/assets/ts/ui/region-select.ts
  public/version.json
  workers/places-api/src/normalize.js
Due: biome-json, biome-css, run-python-script

v2.28.3
  CHANGELOG.md
  README.md
  package.json
  public/assets/css/base/dark-mode.css
  public/assets/css/components/custom-select.css
  public/assets/css/components/modal.css
  public/assets/css/components/region-pills.css
  public/assets/css/destination/destination.css
  public/assets/css/edit/edit.css
  public/assets/css/expenses/expenses.css
  public/assets/css/itinerary/itinerary.css
  public/assets/css/view/view.css
  public/assets/json/version.json
  public/assets/ts/pages/destination/mount.ts
  public/assets/ts/pages/destination/support/dialog.ts
  public/assets/ts/pages/edit-destination/edit-destination.ts
  public/assets/ts/pages/edit-destination/existing-destination.ts
  public/assets/ts/pages/edit-destination/map-preview.ts
  public/assets/ts/ui/mymaps-embed.ts
  public/destination.html
  public/edit/destination.html
  public/version.json
Due: biome-html, biome-json, biome-css, run-python-script

v2.28.4
  CHANGELOG.md
  README.md
  package.json
  public/assets/css/base/dark-mode.css
  public/assets/css/base/layout.css
  public/assets/css/expenses/expenses.css
  public/assets/css/view/view.css
  public/assets/json/languages/en.json
  public/assets/json/languages/pt.json
  public/assets/json/version.json
  public/assets/ts/pages/edit-destination/categories/wallpaper-import.ts
  public/assets/ts/pages/edit-destination/destination-entry.ts
  public/assets/ts/pages/edit-destination/edit-destination.ts
  public/assets/ts/pages/edit-trip/categories/expenses.ts
  public/assets/ts/pages/edit-trip/categories/itinerary-module/itinerary-module.ts
  public/assets/ts/pages/edit-trip/categories/wallpaper-import.ts
  public/assets/ts/pages/edit-trip/existing-trip.ts
  public/assets/ts/pages/edit-trip/new-trip.ts
  public/assets/ts/pages/edit-trip/set-trip.ts
  public/assets/ts/pages/edit-trip/support/event-listeners.ts
  public/assets/ts/pages/expenses/support/currency.ts
  public/assets/ts/ui/image-picker.ts
  public/assets/ts/utils/dom.ts
  public/shared/expenses-content.html
  public/version.json
Due: biome-html, biome-json, biome-css, run-python-script

Path conditions:
  biome-html: any of: ^public/(edit/)?[^/]+/.*\.html$|^public/.*\.html$
  biome-js: any of: ^public/assets/js/.*\.js$
  biome-json: any of: ^public/assets/json/.*\.json$
  biome-css: any of: ^public/assets/css/.*\.css$
  biome-ts: any of: ^functions/src/.*\.ts$
  run-python-script: any of: ^README\.md$
