Repository gabrielofavero/Trip-Viewer-Firebase: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-html, biome-js, biome-json, biome-css, biome-ts, run-python-script

biome-html:
  name: Format HTML
  entry: bash -c "npx biome format --write || true"
  language: system

biome-js:
  name: Format JS
  entry: bash -c "npx biome format --write || true"
  language: system

biome-json:
  name: Format JSON
  entry: bash -c "npx biome format --write || true"
  language: system

biome-css:
  name: Format CSS
  entry: bash -c "npx biome format --write || true"
  language: system

biome-ts:
  name: Format TypeScript
  entry: bash -c "npx biome format --write || true"
  language: system

run-python-script:
  name: Formats README.md
  entry: bash -c "python readme.py || true"
  language: system

v2.28.5
  .github/skills/migration-system/SKILL.md
  CHANGELOG.md
  README.md
  functions/src/migrations/22-migrate-destination-regions-split.ts
  package.json
  public/assets/css/base/dark-mode.css
  public/assets/css/base/layout.css
  public/assets/css/base/variables.css
  public/assets/css/edit/edit.css
  public/assets/css/index/index.css
  public/assets/json/languages/en.json
  public/assets/json/languages/pt.json
  public/assets/json/version.json
  public/assets/ts/pages/edit-destination/edit-destination.ts
  public/assets/ts/pages/edit-trip/support/event-listeners.ts
  public/assets/ts/pages/home/support/data.ts
  public/assets/ts/ui/fields.ts
  public/assets/ts/ui/image-picker.ts
  public/assets/ts/ui/image-slot-picker.ts
  public/edit/destination.html
  public/version.json
  scripts/build/migrations-config.json
  scripts/build/migrations-state.json
Due: biome-html, biome-json, biome-css, biome-ts, run-python-script

v2.28.6
  .github/skills/git-workflow/SKILL.md
  CHANGELOG.md
  README.md
  docs/database/destination-document-structure.md
  docs/package-scripts.md
  firebase.json
  package.json
  public/assets/css/components/map-links.css
  public/assets/css/components/portfolio.css
  public/assets/css/edit/edit.css
  public/assets/css/main.css
  public/assets/json/languages/en.json
  public/assets/json/languages/pt.json
  public/assets/json/version.json
  public/assets/ts/models/destination.model.ts
  public/assets/ts/models/schema.ts
  public/assets/ts/pages/destination/edit-destination.ts
  public/assets/ts/pages/destination/support/card-actions.ts
  public/assets/ts/pages/destination/support/card-media.ts
  public/assets/ts/pages/destination/support/content.ts
  public/assets/ts/pages/destination/support/dialog.ts
  public/assets/ts/pages/edit-destination/edit-destination.ts
  public/assets/ts/pages/edit-destination/existing-destination.ts
  public/assets/ts/pages/edit-destination/new-destination.ts
  public/assets/ts/pages/edit-destination/set-destination.ts
  public/assets/ts/ui/map-links-editor.ts
  public/assets/ts/ui/map-links-menu.ts
  public/assets/ts/ui/map-region-dialog.ts
  public/assets/ts/ui/region-select.ts
  public/assets/ts/utils/loading.ts
  public/edit/destination.html
  public/version.json
  scripts/README.md
  scripts/utils/sync.py
Due: biome-html, biome-json, biome-css, run-python-script

v2.28.7
  CHANGELOG.md
  README.md
  package.json
  public/assets/json/version.json
  public/assets/ts/utils/messages.ts
  public/version.json
Due: biome-json, run-python-script

v2.28.8
  CHANGELOG.md
  README.md
  package.json
  public/assets/css/edit/edit.css
  public/assets/json/version.json
  public/assets/ts/pages/destination/support/card-media.ts
  public/assets/ts/pages/edit-destination/edit-destination.ts
  public/assets/ts/pages/edit-destination/new-destination.ts
  public/assets/ts/pages/trip-detail/categories/accommodation-module.ts
  public/assets/ts/pages/trip-detail/categories/gallery.ts
  public/assets/ts/utils/loading.ts
  public/version.json
Due: biome-json, biome-css, run-python-script

v.2.28.9
  CHANGELOG.md
  README.md
  package-lock.json
  package.json
  public/assets/json/languages/en.json
  public/assets/json/languages/pt.json
  public/assets/json/version.json
  public/assets/ts/app/version-check.ts
  public/assets/ts/data/firebase/auth.ts
  public/assets/ts/pages/home/support/data.ts
  public/assets/ts/utils/messages.ts
  public/version.json
Due: biome-json, run-python-script

M238, B225
  README.md
  public/assets/css/components/modal.css
  public/assets/css/index/index.css
  public/assets/css/view/view.css
  public/assets/json/languages/en.json
  public/assets/json/languages/pt.json
  public/assets/ts/app/main.ts
  public/assets/ts/backup/restore.ts
  public/assets/ts/data/firebase/auth.ts
  public/assets/ts/data/firebase/storage.ts
  public/assets/ts/pages/expenses/mount.ts
  public/assets/ts/pages/home/support/event-listeners.ts
  public/assets/ts/pages/itinerary/mount.ts
  public/assets/ts/utils/messages.ts
  public/index.html
Due: biome-html, biome-json, biome-css, run-python-script

Path conditions:
  biome-html: any of: ^public/(edit/)?[^/]+/.*\.html$|^public/.*\.html$
  biome-js: any of: ^public/assets/js/.*\.js$
  biome-json: any of: ^public/assets/json/.*\.json$
  biome-css: any of: ^public/assets/css/.*\.css$
  biome-ts: any of: ^functions/src/.*\.ts$
  run-python-script: any of: ^README\.md$
