Repository gabrielofavero/Trip-Viewer-Firebase: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-html, biome-js, biome-json, biome-css, biome-ts, run-python-script

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # HTML
      - id: biome-html
        name: Format HTML
        entry: bash -c "npx biome format --write || true"
        language: system
        files: ^public/(edit/)?[^/]+/.*\.html$|^public/.*\.html$

      # JS
      - id: biome-js
        name: Format JS
        entry: bash -c "npx biome format --write || true"
        language: system
        files: ^public/assets/js/.*\.js$

      # JSON
      - id: biome-json
        name: Format JSON
        entry: bash -c "npx biome format --write || true"
        language: system
        files: ^public/assets/json/.*\.json$

      # CSS
      - id: biome-css
        name: Format CSS
        entry: bash -c "npx biome format --write || true"
        language: system
        files: ^public/assets/css/.*\.css$

      # TypeScript (Firebase functions)
      - id: biome-ts
        name: Format TypeScript
        entry: bash -c "npx biome format --write || true"
        language: system
        files: ^functions/src/.*\.ts$

  - repo: local
    hooks:
      - id: run-python-script
        name: Formats README.md
        entry: bash -c "python readme.py || true"
        language: system
        files: ^README\.md$

Update README.md
  README.md
Due: run-python-script

B159
  README.md
  public/assets/js/paginas/editar-viagem/categorias/travelers.js
Due: biome-js, run-python-script

B158
  MODERNIZATION_PLAN.md
  README.md
  public/assets/js/suporte/estilos/animacoes.js
  public/assets/json/examples/FIRESTORE_DATA.json
Due: biome-js, biome-json, run-python-script

docs: add migration-plan
  public/migration-plan.md
Due: none

M145
  public/assets/js/suporte/paginas/carregamento.js
Due: biome-js

docs: update read-me
  README.md
Due: run-python-script

docs: add offline-mode planning
  public/offline-mode.md
Due: none

docs: update readme and add md about maps integration
  README.md
  public/google-maps-integration.md
Due: run-python-script

B157
  README.md
  public/assets/js/suporte/paginas/dados.js
Due: biome-js, run-python-script

B156
  README.md
  public/assets/js/paginas/viagem/suporte/sensitive-reservation.js
Due: biome-js, run-python-script

B152, B153
  public/assets/js/paginas/viagem/categorias/programacao/inner-programacao.js
  public/assets/js/paginas/viagem/categorias/programacao/programacao.js
Due: biome-js

E042
  README.md
  public/assets/js/paginas/viagem/categorias/destinos.js
  public/assets/js/paginas/viagem/categorias/hospedagens.js
  public/assets/js/paginas/viagem/categorias/transportes.js
Due: biome-js, run-python-script

M143
  README.md
  public/assets/css/itinerary/itinerary.css
Due: biome-css, run-python-script

B155
  README.md
  public/assets/js/main/translation.js
  public/assets/js/paginas/editar-viagem/nova-viagem.js
Due: biome-js, run-python-script

F166
  README.md
  public/assets/js/suporte/firebase/storage.js
Due: biome-js, run-python-script

F165
  .gitignore
  README.md
  pocs/html templates/abas.html
  pocs/html templates/blocked-reservations.html
  pocs/html templates/destinos-v1.1.html
  pocs/html templates/drag.html
  pocs/html templates/editar-template.html
  pocs/html templates/embed-tiktok-fetch.html
  pocs/html templates/filter.html
  pocs/html templates/flight-box.html
  pocs/html templates/gooey.html
  pocs/html templates/hotel-box.html
  pocs/html templates/instagram-embed-full.html
  pocs/html templates/instagram-embed-mini.html
  pocs/html templates/legendas-programacao.html
  pocs/responses examples/Firestore/FIRESTORE_DATA.json
  pocs/responses examples/Places API/places.json
  pocs/responses examples/Places API/relevant-fields.txt
  pocs/responses examples/Places API/searchtext.json
  pocs/responses examples/Pleper Extension/tableExport.json
  public/google-maps-integration.md
  read-me
  scripts/README.md
  scripts/deploy.py
  scripts/readme.py
  scripts/setup.ps1
  scripts/sync.py
Due: run-python-script

F162
  README.md
  scripts/export-maps-data/maps/type-emoji-index.json
Due: run-python-script

E026, M146, B160
  .gitignore
  README.md
  pocs/responses examples/Places API/relevant-fields.txt
  pocs/responses examples/Pleper Extension/tableExport.json
  public/assets/js/main/main.js
  public/assets/js/paginas/destinos/import-destino.js
  public/assets/js/paginas/editar-destino/import-destino.js
  public/destination.html
  public/edit/destination.html
  scripts/README.md
  scripts/export-maps-data/.env.example
  scripts/export-maps-data/export-maps-data.py
  scripts/export-maps-data/maps/emoji-map.json
  scripts/export-maps-data/maps/language-map.json
  scripts/export-maps-data/maps/price-level-map.json
  scripts/readme.py
Due: biome-html, biome-js, run-python-script

M147
  README.md
  public/assets/js/main/main.js
Due: biome-js, run-python-script

M148
  README.md
  public/assets/js/paginas/index/suporte/dados.js
  public/assets/js/paginas/index/suporte/event-listeners.js
  public/assets/js/paginas/index/suporte/visibilidade.js
  public/assets/js/suporte/paginas/dados.js
  public/assets/json/languages/en.json
  public/assets/json/languages/pt.json
  public/index.html
Due: biome-html, biome-js, biome-json, run-python-script

E018
  README.md
  public/assets/css/index/index-dark.css
  public/assets/css/index/index.css
  public/assets/js/paginas/index/index.js
  public/assets/js/paginas/index/suporte/dados.js
  public/assets/js/paginas/index/suporte/event-listeners.js
  public/assets/js/paginas/index/suporte/visibilidade.js
  public/assets/json/languages/en.json
  public/assets/json/languages/pt.json
  public/index.html
Due: biome-html, biome-js, biome-json, biome-css, run-python-script

docs: update refactoring plan
  public/migration-plan.md
  refactoring-plan.md
Due: none

P0
  .gitignore
  README.md
  firebase.json
  functions/tsconfig.json
  package-lock.json
  package.json
  refactoring-plan.md
  scripts/build.js
  yarn.lock
Due: run-python-script

P2
  public/assets/css/destination/destinos-dark.css
  public/assets/css/destination/destinos.css
  public/assets/css/edit/editar-dark.css
  public/assets/css/edit/editar.css
  public/assets/css/expenses/gastos-dark.css
  public/assets/css/expenses/gastos.css
  public/assets/css/view/viagem-dark.css
  public/assets/css/view/viagem.css
  refactoring-plan.md
Due: biome-css

P3
  public/destination.html
  public/edit/destination.html
  public/edit/listing.html
  public/edit/trip.html
  public/expenses.html
  public/index.html
  public/itinerary.html
  public/view.html
  refactoring-plan.md
Due: biome-html

P4
  public/assets/css/destination/destination-dark.css
  public/assets/css/destination/destination.css
  public/assets/css/edit/edit-dark.css
  public/assets/css/edit/edit.css
  public/assets/css/expenses/expenses-dark.css
  public/assets/css/expenses/expenses.css
  public/assets/css/view/view-dark.css
  public/assets/css/view/view.css
  public/destination.html
  public/edit/destination.html
  public/edit/listing.html
  public/edit/trip.html
  public/expenses.html
  public/view.html
  refactoring-plan.md
Due: biome-html, biome-css

P5
  public/assets/css/base/dark-mode.css
  public/assets/css/base/fonts.css
  public/assets/css/base/layout.css
  public/assets/css/base/preloader.css
  public/assets/css/base/reset.css
  public/assets/css/base/variables.css
  public/assets/css/destination/destination.css
  public/assets/css/edit/edit.css
  public/assets/css/expenses/expenses.css
  public/assets/css/index/index.css
  public/assets/css/itinerary/itinerary.css
  public/assets/css/main.css
  public/assets/css/view/view.css
  public/destination.html
  public/edit/destination.html
  public/edit/listing.html
  public/edit/trip.html
  public/expenses.html
  public/index.html
  public/itinerary.html
  public/offline-mode.md
  public/view.html
Due: biome-html, biome-css

P6
  public/assets/css/components/accordion.css
  public/assets/css/components/custom-select.css
  public/assets/css/components/modal.css
  public/assets/css/components/sensitive-box.css
  public/assets/css/components/swiper-overrides.css
  public/assets/css/components/toast.css
  public/assets/css/destination/destination.css
  public/assets/css/edit/edit.css
  public/assets/css/expenses/expenses.css
  public/assets/css/itinerary/itinerary.css
  public/assets/css/main.css
  public/assets/css/view/view.css
  refactoring-plan.md
Due: biome-css

P7
  public/assets/css/destination/destination.css
  public/assets/css/edit/edit-dark.css
  public/assets/css/expenses/expenses.css
  public/assets/css/itinerary/itinerary.css
  public/assets/css/view/view-dark.css
  public/assets/css/view/view.css
  refactoring-plan.md
Due: biome-css

P8
  public/assets/css/base/dark-mode.css
  public/assets/css/destination/destination-dark.css
  public/assets/css/edit/edit-dark.css
  public/assets/css/expenses/expenses-dark.css
  public/assets/css/index/index-dark.css
  public/assets/css/itinerary/itinerary-dark.css
  public/assets/css/view/view-dark.css
  public/assets/js/support/styles/visibility.js
  refactoring-plan.md
Due: biome-js, biome-css

P9
  public/assets/js/support/pages/data.js
  public/assets/js/support/pages/dates.js
  public/assets/js/support/pages/devices.js
  public/assets/js/support/pages/messages.js
  public/assets/js/utils/index.js
  refactoring-plan.md
  scripts/build.js
Due: biome-js

P10
  public/assets/js/support/components/bimap.js
  public/assets/js/support/components/custom-select.js
  public/assets/js/support/components/dynamic-select.js
  public/assets/js/support/components/sortable.js
  public/assets/js/support/html/accordion.js
  public/assets/js/support/html/embed.js
  public/assets/js/support/html/fields.js
  public/assets/js/utils/index.js
  refactoring-plan.md
  scripts/build.js
Due: biome-js

P11
  public/assets/js/main/translation.js
  public/assets/js/services/index.js
  public/assets/js/styles/index.js
  public/assets/js/support/firebase/database.js
  public/assets/js/support/firebase/storage.js
  public/assets/js/support/firebase/user.js
  public/assets/js/support/styles/animations.js
  public/assets/js/support/styles/colors.js
  public/assets/js/support/styles/stylesheets.js
  public/assets/js/support/styles/visibility.js
  refactoring-plan.md
  scripts/build.js
Due: biome-js

P12
  public/assets/js/main/main.js
  public/assets/js/pages/destination/destination-entry.js
  public/assets/js/pages/edit-destination/destination-entry.js
  public/assets/js/pages/edit-listing/listing-entry.js
  public/assets/js/pages/edit-trip/existing-trip.js
  public/assets/js/pages/edit-trip/trip-entry.js
  public/assets/js/pages/expenses/expenses-entry.js
  public/assets/js/pages/index/index-entry.js
  public/assets/js/pages/itinerary/itinerary-entry.js
  public/assets/js/pages/view/view-entry.js
  public/assets/js/support/pages/devices.js
  public/assets/js/support/pages/messages.js
  public/assets/js/support/styles/visibility.js
  public/destination.html
  public/edit/destination.html
  public/edit/listing.html
  public/edit/trip.html
  public/expenses.html
  public/index.html
  public/itinerary.html
  public/view.html
  refactoring-plan.md
Due: biome-html, biome-js

P13
  public/assets/js/models/destination.js
  public/assets/js/models/expense.js
  public/assets/js/models/itinerary.js
  public/assets/js/models/traveler.js
  public/assets/js/models/trip.js
  public/assets/js/pages/destination/categories.js
  public/assets/js/pages/destination/support/sort-and-filter/support/price-bucket.js
  public/assets/js/pages/edit-trip/categories/travelers.js
  public/assets/js/pages/expenses/expenses-converted.js
  public/assets/js/pages/expenses/support/currency.js
  public/assets/js/pages/expenses/support/data.js
  public/assets/js/pages/itinerary/itinerary-formatter.js
  refactoring-plan.md
Due: biome-js

P14
  public/assets/js/pages/destination/destination-entry.js
  public/assets/js/pages/edit-destination/destination-entry.js
  public/assets/js/pages/edit-listing/listing-entry.js
  public/assets/js/pages/edit-trip/trip-entry.js
  public/assets/js/pages/expenses/expenses-entry.js
  public/assets/js/pages/index/index-entry.js
  public/assets/js/pages/itinerary/itinerary-entry.js
  public/assets/js/pages/view/view-entry.js
  public/assets/js/services/auth-service.js
  public/assets/js/services/destination-service.js
  public/assets/js/services/expense-service.js
  public/assets/js/services/index.js
  public/assets/js/services/trip-service.js
  refactoring-plan.md
Due: biome-js
