Repository gabrielofavero/Trip-Viewer-Firebase: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-html, biome-js, biome-json, biome-css, biome-ts, run-python-script

biome-html:
  name: Format HTML
  entry: bash -c "npx biome format --write || true"
  language: system

biome-js:
  name: Format JS
  entry: bash -c "npx biome format --write || true"
  language: system

biome-json:
  name: Format JSON
  entry: bash -c "npx biome format --write || true"
  language: system

biome-css:
  name: Format CSS
  entry: bash -c "npx biome format --write || true"
  language: system

biome-ts:
  name: Format TypeScript
  entry: bash -c "npx biome format --write || true"
  language: system

run-python-script:
  name: Formats README.md
  entry: bash -c "python readme.py || true"
  language: system

F170, B163
  README.md
  package.json
  public/assets/css/base/dark-mode.css
  public/assets/css/components/modal.css
  public/assets/css/components/progress-loading.css
  public/assets/css/edit/edit.css
  public/assets/css/main.css
  public/assets/json/languages/en.json
  public/assets/json/languages/pt.json
  public/assets/ts/backup/backup.ts
  public/assets/ts/backup/export-documents.ts
  public/assets/ts/backup/import-documents.ts
  public/assets/ts/backup/restore.ts
  public/assets/ts/ui/progress-loading.ts
Due: biome-json, biome-css, run-python-script

F175
  .github/skills/backlog-management/SKILL.md
  CHANGELOG.md
  README.md
  copilot-instructions.md
  package.json
  scripts/README.md
  scripts/build/build.js
  scripts/build/deploy.py
  scripts/utils/readme.py
Due: run-python-script

chore: bump version
  CHANGELOG.md
  public/assets/json/version.json
  scripts/build/deploy.py
Due: biome-json

M167
  .github/skills/data-model/SKILL.md
  .github/skills/migration-system/SKILL.md
  CHANGELOG.md
  README.md
  functions/src/dev/init-local-db.ts
  functions/src/index.ts
  functions/src/migrations/16-migrate-user-profile-fields.ts
  package.json
  public/assets/css/index/index.css
  public/assets/json/version.json
  public/assets/ts/data/firebase/auth.ts
  public/assets/ts/pages/home/support/data.ts
  public/index.html
Due: biome-html, biome-json, biome-css, biome-ts, run-python-script

M167 (ammend)
  functions/src/index.ts
Due: biome-ts

B167, B166, B168. B169, B170, B171, M167, F176
  .github/skills/backlog-management/SKILL.md
  .github/skills/browser-navigation/SKILL.md
  .gitignore
  CHANGELOG.md
  README.md
  copilot-instructions.md
  package.json
  public/assets/css/components/modal.css
  public/assets/css/edit/edit.css
  public/assets/css/index/index.css
  public/assets/json/colors.json
  public/assets/json/languages/en.json
  public/assets/json/languages/pt.json
  public/assets/ts/backup/restore.ts
  public/assets/ts/pages/edit-destination/categories/image.ts
  public/assets/ts/pages/edit-destination/support/event-listeners.ts
  public/assets/ts/pages/edit-trip/categories/accommodation.ts
  public/assets/ts/pages/edit-trip/support/event-listeners.ts
  public/assets/ts/pages/home/support/data.ts
  public/assets/ts/utils/dom.ts
  public/assets/ts/utils/messages.ts
  scripts/dev/ensure-ports-free.js
  scripts/dev/start-emulator.js
  scripts/utils/readme.py
Due: biome-json, biome-css, run-python-script

M169, F177, M170
  CHANGELOG.md
  README.md
  public/assets/json/languages/en.json
  public/assets/json/languages/pt.json
  public/assets/json/version.json
  public/assets/ts/app/main.ts
  public/destination.html
  public/edit/destination.html
  public/edit/listing.html
  public/edit/trip.html
  public/expenses.html
  public/index.html
  public/itinerary.html
  public/view.html
  scripts/build/build.js
  scripts/build/deploy.py
  scripts/build/hash-assets.js
Due: biome-html, biome-json, run-python-script

F177 (fix)
  public/assets/ts/app/main.ts
Due: none

feat: add data migrations
  .github/skills/data-model/SKILL.md
  .github/skills/firebase-emulators/SKILL.md
  .github/skills/migration-system/SKILL.md
  docs/database/destination-document-structure.md
  functions/src/dev/init-local-db.ts
  functions/src/index.ts
  functions/src/migrations/17-migrate-places-api.ts
Due: biome-ts

docs: add example
  docs/responses/Places API/searchtext.json
Due: none

feat: improve places data
  .github/skills/data-model/SKILL.md
  .github/skills/migration-system/SKILL.md
  docs/database/destination-document-structure.md
  functions/src/index.ts
  functions/src/migrations/17-migrate-places-api.ts
  scripts/export-maps-data/export-maps-data.py
Due: biome-ts

docs: add planning
  docs/ai-analysis/6-places-api-edit-destination.md
Due: none

refactor: add adjustments
  docs/ai-analysis/7-places-api-backend-contract.md
  public/assets/json/languages/en.json
  public/assets/json/languages/pt.json
  public/assets/ts/data/services/places-api.service.ts
  public/assets/ts/models/places-api.model.ts
  public/assets/ts/places/places-bulk.ts
  public/assets/ts/places/places-closed-photos-step.ts
  public/assets/ts/places/places-details-step.ts
  public/assets/ts/places/places-dialog.ts
  public/assets/ts/places/places-search-step.ts
  worker/.dev.vars.example
  worker/README.md
  worker/src/config.js
  worker/src/errors.js
  worker/src/index.js
  worker/src/quota.js
  worker/wrangler.toml
Due: biome-json

feat: Enhance Places API integration and UI updates
  public/assets/css/edit/edit.css
  public/assets/json/languages/en.json
  public/assets/json/languages/pt.json
  public/assets/ts/data/services/places-api.service.ts
  public/assets/ts/models/destination.model.ts
  public/assets/ts/models/places-api.model.ts
  public/assets/ts/pages/edit-destination/new-destination.ts
  public/assets/ts/places/places-apply-flow.ts
  public/assets/ts/places/places-closed-photos-step.ts
  public/assets/ts/places/places-details-step.ts
  public/assets/ts/places/places-search-step.ts
  public/assets/ts/utils/messages.ts
  public/edit/destination.html
  worker/README.md
  worker/package.json
  worker/src/index.js
  worker/src/places.js
  worker/wrangler.toml
Due: biome-html, biome-json, biome-css

many fixes + new features
  README.md
  docs/ai-analysis/9-google-maps-local-scraping-research.md
  docs/ai-analysis/firestore-auth-intensity.md
  public/assets/css/edit/edit.css
  public/assets/css/index/index.css
  public/assets/json/languages/en.json
  public/assets/json/languages/pt.json
  public/assets/ts/models/destination.model.ts
  public/assets/ts/pages/destination/destination.ts
  public/assets/ts/pages/destination/support/content.ts
  public/assets/ts/pages/edit-destination/edit-destination.ts
  public/assets/ts/pages/edit-destination/existing-destination.ts
  public/assets/ts/pages/edit-destination/new-destination.ts
  public/assets/ts/places/places-apply-flow.ts
  public/assets/ts/places/places-closed-photos-step.ts
  public/assets/ts/places/places-details-step.ts
  public/assets/ts/places/places-dialog.ts
  public/assets/ts/places/places-linked-step.ts
  public/assets/ts/places/places-search-step.ts
  public/assets/ts/utils/messages.ts
Due: biome-json, biome-css, run-python-script

improvements
  .github/skills/migration-system/SKILL.md
  .gitignore
  functions/src/migrations/17-migrate-places-api.ts
  public/assets/css/edit/edit.css
  public/assets/ts/pages/edit-destination/existing-destination.ts
  public/assets/ts/pages/edit-destination/new-destination.ts
  public/assets/ts/places/places-bulk.ts
  public/assets/ts/places/places-dialog.ts
  public/assets/ts/utils/messages.ts
  public/edit/destination.html
  scripts/gmaps-scraper/README.md
  scripts/gmaps-scraper/run.ps1
  worker/README.md
  worker/src/config.js
  worker/src/index.js
  worker/src/permissions.js
  worker/wrangler.toml
Due: biome-html, biome-css, biome-ts

improvements
  docs/ai-analysis/6-places-api-edit-destination.md
  public/assets/json/languages/en.json
  public/assets/json/languages/pt.json
  public/assets/ts/data/services/places-api.service.ts
  public/assets/ts/pages/edit-destination/edit-destination.ts
  public/assets/ts/pages/edit-destination/new-destination.ts
  public/assets/ts/places/places-bulk.ts
  public/assets/ts/places/places-closed-photos-step.ts
  public/assets/ts/places/places-details-step.ts
  public/assets/ts/places/places-dialog.ts
  public/assets/ts/places/places-linked-step.ts
  public/assets/ts/places/places-search-step.ts
  worker/README.md
  worker/wrangler.toml
Due: biome-json

feat: add gmaps scrapper
  README.md
  docs/ai-analysis/10-gmaps-scraper-local-import.md
  package.json
  public/assets/css/edit/edit.css
  public/assets/json/languages/en.json
  public/assets/json/languages/pt.json
  public/assets/ts/data/services/gmaps-scraper.service.ts
  public/assets/ts/models/places-api.model.ts
  public/assets/ts/models/schema.ts
  public/assets/ts/pages/edit-destination/edit-destination.ts
  public/assets/ts/pages/edit-destination/new-destination.ts
  public/assets/ts/places/places-apply-flow.ts
  public/assets/ts/places/places-apply.ts
  public/assets/ts/places/places-bulk.ts
  public/assets/ts/places/places-details-step.ts
  public/assets/ts/places/places-dialog.ts
  public/assets/ts/places/places-local-step.ts
  public/assets/ts/places/places-source-step.ts
  public/assets/ts/ui/fields.ts
  scripts/gmaps-scraper/README.md
  scripts/gmaps-scraper/queries.txt
  scripts/gmaps-scraper/server.mjs
Due: biome-json, biome-css, run-python-script

final things
  .vscode/tasks.json
  README.md
  public/assets/css/base/dark-mode.css
  public/assets/css/edit/edit.css
  public/assets/json/languages/en.json
  public/assets/json/languages/pt.json
  public/assets/ts/data/services/gmaps-scraper.service.ts
  public/assets/ts/data/services/places-api.service.ts
  public/assets/ts/data/services/places-counter.ts
  public/assets/ts/places/places-apply-flow.ts
  public/assets/ts/places/places-closed-photos-step.ts
  public/assets/ts/places/places-details-step.ts
  public/assets/ts/places/places-local-step.ts
  public/assets/ts/utils/dev.ts
  scripts/gmaps-scraper/server.mjs
Due: biome-json, biome-css, run-python-script

update readme
  README.md
Due: run-python-script

B174
  README.md
  public/assets/ts/pages/edit-trip/categories/transportation.ts
  public/assets/ts/pages/edit-trip/existing-trip.ts
  public/assets/ts/pages/edit-trip/new-trip.ts
Due: run-python-script

M172
  README.md
  public/assets/css/base/dark-mode.css
  public/assets/css/index/index.css
  public/assets/json/languages/en.json
  public/assets/json/languages/pt.json
  public/assets/ts/pages/home/support/data.ts
  public/assets/ts/pages/home/support/event-listeners.ts
  public/assets/ts/pages/home/support/lazy-grid.ts
  public/index.html
Due: biome-html, biome-json, biome-css, run-python-script

M176
  README.md
  public/assets/css/base/dark-mode.css
  public/assets/css/base/variables.css
  public/assets/css/view/view.css
  public/assets/ts/utils/messages.ts
  public/assets/ts/utils/pin.ts
Due: biome-css, run-python-script

M178
  docs/README.md
  docs/analysis/20260613-firestore-auth-intensity.md
  docs/analysis/20260705-vendor-globals-cleanup.md
  docs/analysis/20260728-framework-recommendation.md
  docs/analysis/20260810-google-maps-local-scraping-research.md
  docs/contracts/20260808-places-api-backend-contract.md
  docs/implementation-plans/20260728-edit-styling-guide.md
  docs/implementation-plans/20260809-places-api-worker-build-prompts.md
  docs/implementation-plans/20260810-gmaps-scraper-local-import.md
  docs/implementation-plans/20260812-iframe-to-components.md
  docs/implementation-plans/20260812-places-api-edit-destination.md
  docs/implementation-plans/20260814-destination-page-card-refactor.md
  docs/proposals/20260614-new-database-proposal.md
  docs/proposals/20260726-encryption-at-rest.md
  public/assets/ts/data/services/places-api.service.ts
  public/assets/ts/data/services/places-counter.ts
  public/assets/ts/models/places-api.model.ts
  public/assets/ts/models/schema.ts
  public/assets/ts/pages/destination/mount.ts
  public/assets/ts/pages/edit-destination/edit-destination.ts
  public/assets/ts/pages/expenses/mount.ts
  public/assets/ts/places/places-apply-flow.ts
  public/assets/ts/places/places-apply.ts
  public/assets/ts/places/places-bulk.ts
  public/assets/ts/places/places-closed-photos-step.ts
  public/assets/ts/places/places-details-step.ts
  public/assets/ts/places/places-dialog.ts
  public/assets/ts/places/places-linked-step.ts
  public/assets/ts/places/places-search-step.ts
  scripts/gmaps-scraper/README.md
  scripts/gmaps-scraper/run.ps1
  scripts/gmaps-scraper/server.mjs
  worker/README.md
  worker/src/config.js
  worker/src/index.js
  worker/src/photo-url.js
Due: none

M177
  README.md
  public/assets/css/index/index.css
  public/index.html
Due: biome-html, biome-css, run-python-script

p1
  public/assets/css/base/dark-mode.css
  public/assets/css/components/frosted-tabs.css
  public/assets/css/components/page-hero.css
  public/assets/css/components/search-bar.css
  public/assets/css/destination/destination.css
  public/assets/css/edit/edit.css
  public/assets/css/index/index.css
  public/assets/css/main.css
  public/destination.html
Due: biome-html, biome-css

p2
  public/assets/css/destination/destination.css
  public/assets/ts/pages/destination/destination.ts
  public/assets/ts/pages/destination/mount.ts
  public/assets/ts/pages/destination/support/card-actions.ts
  public/assets/ts/pages/destination/support/card-edit.ts
  public/assets/ts/pages/destination/support/card-media.ts
  public/assets/ts/pages/destination/support/card.ts
  public/assets/ts/pages/destination/support/sort-and-filter/filter.ts
  public/assets/ts/pages/destination/support/sort-and-filter/sort-and-filter.ts
  public/assets/ts/pages/destination/support/sort-and-filter/sort.ts
  public/assets/ts/pages/destination/support/sort-and-filter/support/drawer.ts
  public/assets/ts/pages/home/support/data.ts
  public/assets/ts/ui/lazy-grid.ts
Due: biome-css

p3-p5
  public/assets/css/base/dark-mode.css
  public/assets/css/components/portfolio.css
  public/assets/css/destination/destination.css
  public/assets/css/main.css
  public/assets/css/view/view.css
  public/assets/ts/pages/destination/destination-entry.ts
  public/assets/ts/pages/destination/destination.ts
  public/assets/ts/pages/destination/edit-destination.ts
  public/assets/ts/pages/destination/mount.ts
  public/assets/ts/pages/destination/support/card-actions.ts
  public/assets/ts/pages/destination/support/card-edit.ts
  public/assets/ts/pages/destination/support/card-media.ts
  public/assets/ts/pages/destination/support/card.ts
  public/assets/ts/pages/destination/support/content.ts
  public/assets/ts/pages/destination/support/event-listeners.ts
  public/assets/ts/pages/destination/support/media-embed.ts
  public/assets/ts/pages/destination/support/visibility.ts
  public/assets/ts/pages/expenses/expenses-entry.ts
  public/assets/ts/pages/trip-detail/categories/itinerary-module/inner-itinerary.ts
  public/assets/ts/pages/trip-detail/support/embed.ts
  public/assets/ts/pages/trip-detail/view-entry.ts
  public/assets/ts/ui/lightbox.ts
  public/assets/ts/utils/dom.ts
  public/destination.html
Due: biome-html, biome-css

p6
  README.md
  public/assets/css/destination/destination.css
  public/assets/ts/pages/destination/support/content.ts
  public/assets/ts/pages/destination/support/visibility.ts
  public/assets/ts/pages/home/support/lazy-grid.ts
  public/assets/ts/theme/visibility.ts
  public/destination.html
Due: biome-html, biome-css, run-python-script

fixes
  public/assets/css/base/dark-mode.css
  public/assets/css/components/dialog.css
  public/assets/css/components/frosted-tabs.css
  public/assets/css/destination/destination.css
  public/assets/css/index/index.css
  public/assets/css/main.css
  public/assets/ts/pages/destination/destination.ts
  public/assets/ts/pages/destination/edit-destination.ts
  public/assets/ts/pages/destination/mount.ts
  public/assets/ts/pages/destination/support/card-actions.ts
  public/assets/ts/pages/destination/support/card-edit.ts
  public/assets/ts/pages/destination/support/card-media.ts
  public/assets/ts/pages/destination/support/card.ts
  public/assets/ts/pages/destination/support/dialog.ts
  public/assets/ts/pages/destination/support/event-listeners.ts
  public/assets/ts/pages/destination/support/sort-and-filter/sort-and-filter.ts
  public/destination.html
Due: biome-html, biome-css

M163 + M169 improvements
  .github/skills/build-pipeline/SKILL.md
  CHANGELOG.md
  README.md
  docs/implementation-plans/20260815-cache-busting-strategy.md
  firebase.dev.json
  firebase.json
  package.json
  public/assets/css/index/index.css
  public/assets/ts/app/config.ts
  public/shared/livereload.html
  scripts/build/build.js
  scripts/build/gen-firebase-dev.js
  scripts/build/hash-assets.js
  scripts/dev/start-emulator.js
Due: biome-html, biome-css, run-python-script

better error handling (no ticket)
  public/assets/ts/app/main.ts
  public/assets/ts/backup/restore.ts
  public/assets/ts/data/firebase/auth.ts
  public/assets/ts/models/expense.model.ts
  public/assets/ts/pages/edit-destination/edit-destination.ts
  public/assets/ts/pages/edit-destination/set-destination.ts
  public/assets/ts/pages/expenses/mount.ts
  public/assets/ts/pages/itinerary/mount.ts
  public/assets/ts/pages/trip-detail/view.ts
  public/assets/ts/places/places-apply-flow.ts
  public/assets/ts/places/places-bulk.ts
  public/assets/ts/places/places-dialog.ts
  public/assets/ts/utils/messages.ts
Due: none

more enhancements
  .github/skills/build-pipeline/SKILL.md
  public/assets/css/base/dark-mode.css
  public/assets/css/base/variables.css
  public/assets/css/components/dialog.css
  public/assets/css/destination/destination.css
  public/assets/css/index/index.css
  public/assets/css/itinerary/itinerary.css
  public/assets/css/view/view.css
  public/assets/ts/models/itinerary.model.ts
  public/assets/ts/pages/destination/support/card-actions.ts
  public/assets/ts/pages/destination/support/card-media.ts
  public/assets/ts/pages/itinerary/mount.ts
  public/assets/ts/pages/trip-detail/categories/itinerary-module/inner-itinerary.ts
  public/assets/ts/pages/trip-detail/support/embed.ts
  public/assets/ts/pages/trip-detail/support/item-dialogs.ts
  public/assets/ts/theme/colors.ts
  public/view.html
  scripts/build/build.js
Due: biome-html, biome-css

Path conditions:
  biome-html: any of: ^public/(edit/)?[^/]+/.*\.html$|^public/.*\.html$
  biome-js: any of: ^public/assets/js/.*\.js$
  biome-json: any of: ^public/assets/json/.*\.json$
  biome-css: any of: ^public/assets/css/.*\.css$
  biome-ts: any of: ^functions/src/.*\.ts$
  run-python-script: any of: ^README\.md$
