Repository gabrielofavero/Trip-Viewer-Firebase: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-html, biome-js, biome-json, biome-css, biome-ts, run-python-script

biome-html:
  name: Format HTML
  entry: bash -c "npx biome format --write || true"
  language: system

biome-js:
  name: Format JS
  entry: bash -c "npx biome format --write || true"
  language: system

biome-json:
  name: Format JSON
  entry: bash -c "npx biome format --write || true"
  language: system

biome-css:
  name: Format CSS
  entry: bash -c "npx biome format --write || true"
  language: system

biome-ts:
  name: Format TypeScript
  entry: bash -c "npx biome format --write || true"
  language: system

run-python-script:
  name: Formats README.md
  entry: bash -c "python readme.py || true"
  language: system

10B
  functions/src/index.ts
  functions/src/migrations/21-migrate-itinerary-tipo.ts
  public/assets/ts/pages/destination/edit-destination.ts
  public/assets/ts/pages/edit-destination/edit-destination.ts
  public/assets/ts/pages/edit-destination/existing-destination.ts
  public/assets/ts/pages/edit-destination/import-destination.ts
  public/assets/ts/pages/edit-destination/new-destination.ts
  public/assets/ts/pages/edit-destination/set-destination.ts
  public/assets/ts/pages/edit-trip/categories/accommodation.ts
  public/assets/ts/pages/edit-trip/categories/destination.ts
  public/assets/ts/pages/edit-trip/categories/itinerary-module/inner-itinerary/inner-itinerary.ts
  public/assets/ts/pages/edit-trip/categories/itinerary-module/inner-itinerary/text-replacement.ts
  public/assets/ts/pages/edit-trip/categories/itinerary-module/itinerary-module.ts
  public/assets/ts/pages/edit-trip/categories/transportation.ts
  public/assets/ts/pages/edit-trip/edit-trip.ts
  public/assets/ts/pages/edit-trip/existing-trip.ts
  public/assets/ts/pages/edit-trip/new-trip.ts
  public/assets/ts/pages/edit-trip/support/event-listeners.ts
  public/assets/ts/pages/trip-detail/categories/accommodation-module.ts
  public/assets/ts/pages/trip-detail/categories/gallery.ts
  public/assets/ts/pages/trip-detail/categories/itinerary-module/inner-itinerary.ts
  public/assets/ts/pages/trip-detail/categories/transportation-module.ts
  public/assets/ts/pages/trip-detail/support/visibility.ts
  public/assets/ts/utils/dom.ts
Due: biome-ts

10C
  functions/src/migrations/22-migrate-destination-categories.ts
  public/assets/ts/pages/edit-destination/categories/description.ts
  public/assets/ts/pages/edit-destination/categories/price.ts
  public/assets/ts/pages/edit-destination/edit-destination.ts
  public/assets/ts/pages/edit-destination/existing-destination.ts
  public/assets/ts/pages/edit-destination/import-destination.ts
  public/assets/ts/pages/edit-destination/new-destination.ts
  public/assets/ts/pages/edit-destination/set-destination.ts
  public/assets/ts/utils/dom.ts
  public/edit/destination.html
Due: biome-html, biome-ts

10D
  public/assets/css/base/dark-mode.css
  public/assets/css/edit/edit.css
  public/assets/ts/models/destination.model.ts
  public/assets/ts/models/itinerary.model.ts
  public/assets/ts/pages/destination/categories.ts
  public/assets/ts/pages/destination/support/content.ts
  public/assets/ts/pages/edit-destination/new-destination.ts
  public/assets/ts/pages/edit-trip/categories/accommodation.ts
  public/assets/ts/pages/edit-trip/categories/expenses.ts
  public/assets/ts/pages/edit-trip/categories/itinerary-module/inner-itinerary/content.ts
  public/assets/ts/pages/edit-trip/categories/itinerary-module/inner-itinerary/inner-itinerary.ts
  public/assets/ts/pages/edit-trip/new-trip.ts
  public/assets/ts/ui/fields.ts
Due: biome-css

10E
  public/assets/ts/pages/destination/import-destination.ts
  public/assets/ts/pages/edit-destination/import-destination.ts
  public/edit/trip.html
Due: biome-html

translations
  pocs/README.md
  pocs/html templates/abas.html
  pocs/html templates/blocked-reservations.html
  pocs/html templates/destinos-v1.1.html
  pocs/html templates/drag.html
  pocs/html templates/editar-template.html
  pocs/html templates/embed-tiktok-fetch.html
  pocs/html templates/filter.html
  pocs/html templates/flight-box.html
  pocs/html templates/gooey.html
  pocs/html templates/hotel-box.html
  pocs/html templates/instagram-embed-full.html
  pocs/html templates/instagram-embed-mini.html
  pocs/html templates/legendas-programacao.html
  public/assets/json/languages/en.json
  public/assets/json/languages/pt.json
  public/assets/ts/app/main.ts
  public/assets/ts/pages/edit-destination/edit-destination.ts
  public/assets/ts/pages/edit-listing/edit-listing.ts
  public/assets/ts/pages/edit-trip/categories/itinerary-module/inner-itinerary/inner-itinerary.ts
  public/assets/ts/pages/expenses/categories.ts
  public/assets/ts/pages/trip-detail/support/sensitive-reservation.ts
  public/assets/ts/ui/date-range-picker.ts
  public/assets/ts/utils/messages.ts
  public/edit/destination.html
  public/edit/listing.html
  public/edit/trip.html
  public/view.html
Due: biome-html, biome-json

scans attempts
  ai/prompts/translation-adjustments.txt
  public/assets/css/base/dark-mode.css
  public/assets/css/edit/edit.css
  public/assets/css/expenses/expenses.css
  public/assets/ts/app/main.ts
  public/assets/ts/pages/edit-trip/existing-trip.ts
  public/assets/ts/pages/edit-trip/new-trip.ts
  public/assets/ts/pages/edit-trip/set-trip.ts
  public/assets/ts/pages/edit-trip/support/event-listeners.ts
  public/assets/ts/pages/expenses/expenses.ts
  public/assets/ts/pages/trip-detail/categories/transportation-module.ts
  public/assets/ts/pages/trip-detail/view.ts
  public/assets/ts/vendor.d.ts
  public/edit/listing.html
  public/edit/trip.html
  public/expenses.html
  public/view.html
  scripts/build/id-class-map.json
  scripts/translation/references/conflicts.md
  scripts/translation/references/translations.json
  scripts/translation/scan-ptbr-ignore.json
  scripts/translation/scan-ptbr-report.json
  scripts/translation/scan-ptbr.py
Due: biome-html, biome-css

its getting better all the time
  .gitignore
  ai/tasks/1-refactoring-plan.md
  ai/tasks/10-remaining-cleanup-prompts.md
  ai/tasks/2-cleanup-plan.md
  ai/tasks/3-cleanup-tracking.md
  ai/tasks/4-imports-window-fix-plan.md
  ai/tasks/5-onclick-cleanup-plan.md
  ai/tasks/6-systematic-fix-plan.md
  ai/tasks/7-typescript-migration-plan.md
  ai/tasks/8-data-english-migration-plan.md
  ai/tasks/9-final-english-cleanup-plan.md
  firebase.json
  public/assets/json/languages/en.json
  public/assets/json/languages/pt.json
  public/assets/ts/data/firebase/counter.ts
  public/assets/ts/data/firebase/database.ts
  public/assets/ts/pages/home/support/data.ts
  public/assets/ts/utils/dev.ts
  scripts/translation/references/conflicts.md
  scripts/translation/references/translations.json
  scripts/translation/scan-ptbr-ignore.json
  scripts/translation/scan-ptbr.py
Due: biome-json

view fixes
  public/assets/ts/data/firebase/database.ts
  public/assets/ts/pages/trip-detail/view.ts
Due: none

view partial fixes
  public/assets/css/base/dark-mode.css
  public/assets/ts/data/firebase/database.ts
  public/assets/ts/pages/edit-trip/categories/itinerary-module/inner-itinerary/text-replacement.ts
  public/assets/ts/pages/trip-detail/categories/accommodation-module.ts
  public/assets/ts/pages/trip-detail/view.ts
Due: biome-css

view fixes
  docs/firestore-data-examples/pages/view.raw.json
  public/assets/ts/pages/trip-detail/categories/destination.ts
  public/assets/ts/pages/trip-detail/categories/itinerary-module/calendar.ts
  public/assets/ts/pages/trip-detail/categories/itinerary-module/inner-itinerary.ts
Due: none

many fixes
  ai/analysis/new-database-proposal.md
  docs/database/proposals/option-b-optimized-redesign.drawio
  docs/firestore-data-examples/destinations/destination.json
  docs/firestore-data-examples/pages/view.raw.json
  functions/src/migrations/13-migrate-english-fields.ts
  public/assets/css/view/view.css
  public/assets/ts/models/new-schema.ts
  public/assets/ts/pages/destination/categories.ts
  public/assets/ts/pages/edit-trip/categories/transportation.ts
  public/assets/ts/pages/edit-trip/new-trip.ts
  public/assets/ts/pages/trip-detail/categories/transportation-module.ts
  public/assets/ts/pages/trip-detail/support/sensitive-reservation.ts
  public/assets/ts/utils/messages.ts
  public/assets/ts/utils/pin.ts
  public/assets/vendor/bootstrap-icons/index.html
  public/view.html
Due: biome-html, biome-css, biome-ts

fixes + functions optimized
  README.md
  functions/src/index.ts
  functions/src/migrations/13-migrate-phase1-translate-restructure.ts
  functions/src/migrations/14-migrate-phase2-rename-finalize.ts
  functions/src/migrations/14-migrate-user-summaries.ts
  functions/src/migrations/15-migrate-trip-destinations.ts
  functions/src/migrations/16-migrate-accommodations-subcollection.ts
  functions/src/migrations/17-migrate-transportation-subcollection.ts
  functions/src/migrations/18-migrate-itinerary-subcollection.ts
  functions/src/migrations/19-migrate-collection-names.ts
  functions/src/migrations/20-migrate-cleanup.ts
  functions/src/migrations/21-migrate-itinerary-tipo.ts
  functions/src/migrations/22-migrate-destination-categories.ts
  public/assets/ts/data/firebase/auth.ts
  public/assets/ts/pages/home/support/data.ts
  public/assets/ts/pages/trip-detail/categories/destination.ts
  public/assets/ts/pages/trip-detail/view.ts
Due: biome-ts, run-python-script

destination fixes
  public/assets/css/base/dark-mode.css
  public/assets/css/base/variables.css
  public/assets/css/destination/destination.css
  public/assets/ts/models/destination.model.ts
  public/assets/ts/pages/destination/categories.ts
  public/assets/ts/pages/destination/destination.ts
  public/assets/ts/pages/destination/support/sort-and-filter/filter.ts
  public/assets/ts/pages/destination/support/sort-and-filter/support/drawer.ts
  public/assets/ts/pages/destination/support/sort-and-filter/support/preferences.ts
  public/assets/ts/pages/destination/support/trip.ts
  public/assets/ts/pages/edit-destination/categories/description.ts
  public/assets/ts/pages/edit-destination/existing-destination.ts
  public/assets/ts/pages/edit-trip/existing-trip.ts
  public/assets/ts/pages/trip-detail/categories/destination.ts
  public/assets/ts/pages/trip-detail/view.ts
  public/assets/ts/ui/actions.ts
  public/assets/ts/vendor.d.ts
Due: biome-css

global variables fixes
  ai/analysis/4-vendor-globals-cleanup.md
  public/assets/ts/backup/backup.ts
  public/assets/ts/data/firebase/storage.ts
  public/assets/ts/models/expense.model.ts
  public/assets/ts/models/trip.model.ts
  public/assets/ts/pages/destination/destination.ts
  public/assets/ts/pages/destination/edit-destination.ts
  public/assets/ts/pages/destination/support/trip.ts
  public/assets/ts/pages/edit-listing/edit-listing.ts
  public/assets/ts/pages/edit-listing/support/build-listing-objects.ts
  public/assets/ts/pages/edit-trip/categories/expenses.ts
  public/assets/ts/pages/edit-trip/edit-trip.ts
  public/assets/ts/pages/edit-trip/support/event-listeners.ts
  public/assets/ts/pages/expenses/categories.ts
  public/assets/ts/pages/expenses/expenses.ts
  public/assets/ts/pages/expenses/support/currency.ts
  public/assets/ts/pages/expenses/support/data.ts
  public/assets/ts/pages/expenses/support/embed.ts
  public/assets/ts/pages/trip-detail/categories/destination.ts
  public/assets/ts/pages/trip-detail/view.ts
  public/assets/ts/utils/dates.ts
  public/assets/ts/vendor.d.ts
Due: none

expenses partial fixes + misc
  README.md
  package.json
  public/assets/css/base/dark-mode.css
  public/assets/css/base/preloader.css
  public/assets/css/expenses/expenses.css
  public/assets/css/view/view.css
  public/assets/ts/models/expense.model.ts
  public/assets/ts/pages/expenses/categories.ts
  public/assets/ts/pages/expenses/expenses.ts
  public/assets/ts/pages/expenses/support/currency.ts
  public/assets/ts/pages/expenses/support/data.ts
  public/assets/ts/utils/dev.ts
  public/expenses.html
  public/shared/head.html
Due: biome-html, biome-css, run-python-script

edit pages initial fixes
  public/assets/ts/data/firebase/database.ts
  public/assets/ts/pages/destination/support/trip.ts
  public/assets/ts/pages/edit-destination/edit-destination.ts
  public/assets/ts/pages/edit-listing/edit-listing.ts
  public/assets/ts/pages/edit-listing/existing-listing.ts
  public/assets/ts/pages/edit-trip/categories/accommodation.ts
  public/assets/ts/pages/edit-trip/edit-trip.ts
  public/assets/ts/pages/edit-trip/existing-trip.ts
  public/assets/ts/pages/edit-trip/set-trip.ts
  public/assets/ts/pages/trip-detail/categories/destination.ts
  public/assets/ts/pages/trip-detail/view.ts
  public/assets/ts/theme/visibility.ts
  public/edit/listing.html
  public/edit/trip.html
Due: biome-html

more edit fixes
  public/assets/css/edit/edit.css
  public/assets/img/transportation/bullet_train/eurostar-dark.svg
  public/assets/img/transportation/bullet_train/eurostar.svg
  public/assets/json/transportation.json
  public/assets/ts/data/firebase/database.ts
  public/assets/ts/pages/edit-destination/edit-destination.ts
  public/assets/ts/pages/edit-listing/edit-listing.ts
  public/assets/ts/pages/edit-listing/existing-listing.ts
  public/assets/ts/pages/edit-trip/categories/basic-data/protected-data.ts
  public/assets/ts/pages/edit-trip/categories/destination.ts
  public/assets/ts/pages/edit-trip/categories/expenses.ts
  public/assets/ts/pages/edit-trip/categories/itinerary-module/inner-itinerary/inner-itinerary.ts
  public/assets/ts/pages/edit-trip/categories/itinerary-module/itinerary-module.ts
  public/assets/ts/pages/edit-trip/categories/transportation.ts
  public/assets/ts/pages/edit-trip/edit-trip.ts
  public/assets/ts/pages/edit-trip/existing-trip.ts
  public/assets/ts/pages/edit-trip/new-trip.ts
  public/assets/ts/pages/edit-trip/set-trip.ts
  public/assets/ts/pages/edit-trip/support/event-listeners.ts
  public/assets/ts/ui/fields.ts
  public/assets/ts/ui/sortable.ts
  public/assets/ts/utils/messages.ts
  public/assets/ts/utils/set.ts
  public/edit/destination.html
  public/edit/listing.html
  public/edit/trip.html
Due: biome-html, biome-json, biome-css

fix: remove unused variable
  functions/src/migrations/13-migrate-phase1-translate-restructure.ts
Due: biome-ts

env fixes and backup & restore
  .gitignore
  functions/.gitignore
  functions/src/dev/init-local-db.ts
  functions/src/index.ts
  functions/src/migrations/13-migrate-english-fields.ts
  package.json
  public/assets/css/edit/edit.css
  public/assets/css/index/index.css
  public/assets/json/languages/en.json
  public/assets/json/languages/pt.json
  public/assets/ts/app/main.ts
  public/assets/ts/backup/backup.ts
  public/assets/ts/backup/normalize.ts
  public/assets/ts/backup/restore.ts
  public/assets/ts/utils/dom.ts
Due: biome-json, biome-css, biome-ts

fixes
  package.json
  public/assets/css/components/modal.css
  public/assets/ts/ui/date-range-picker.ts
  public/assets/ts/utils/loading.ts
  public/assets/ts/utils/messages.ts
Due: biome-css

destination fixes
  public/assets/css/base/dark-mode.css
  public/assets/css/components/modal.css
  public/assets/css/destination/destination.css
  public/assets/css/edit/edit.css
  public/assets/ts/pages/edit-destination/categories/description.ts
  public/assets/ts/pages/edit-destination/edit-destination.ts
  public/assets/ts/pages/edit-destination/existing-destination.ts
  public/assets/ts/pages/edit-destination/set-destination.ts
  public/assets/ts/utils/dom.ts
Due: biome-css

other fixes
  functions/src/migrations/13-migrate-phase1-translate-restructure.ts
  functions/src/migrations/14-migrate-phase2-rename-finalize.ts
  public/assets/css/base/dark-mode.css
  public/assets/css/edit/edit.css
  public/assets/ts/pages/edit-destination/edit-destination.ts
  public/assets/ts/pages/edit-listing/edit-listing.ts
  public/assets/ts/pages/edit-trip/categories/basic-data/set-protected-data.ts
  public/assets/ts/pages/edit-trip/set-trip.ts
  public/assets/ts/utils/diff.ts
  public/assets/ts/utils/messages.ts
  public/assets/ts/utils/set.ts
Due: biome-css, biome-ts

backup/restore/destination/listing fixes
  public/assets/css/components/modal.css
  public/assets/css/edit/edit.css
  public/assets/css/view/view.css
  public/assets/ts/backup/backup.ts
  public/assets/ts/backup/restore.ts
  public/assets/ts/pages/edit-destination/new-destination.ts
  public/assets/ts/pages/edit-listing/edit-listing.ts
  public/assets/ts/pages/edit-listing/support/build-listing-objects.ts
  public/assets/ts/pages/edit-trip/categories/customization.ts
  public/assets/ts/pages/edit-trip/edit-trip.ts
  public/assets/ts/utils/loading.ts
  public/assets/ts/utils/messages.ts
Due: biome-css

F152, M158, F153, F154
  .github/copilot/skills/backlog-management/SKILL.md
  .github/copilot/skills/backup-restore/SKILL.md
  .github/copilot/skills/build-pipeline/SKILL.md
  .github/copilot/skills/css-ui-patterns/SKILL.md
  .github/copilot/skills/data-model/SKILL.md
  .github/copilot/skills/firebase-emulators/SKILL.md
  .github/copilot/skills/git-workflow/SKILL.md
  .github/copilot/skills/i18n-system/SKILL.md
  .github/copilot/skills/migration-system/SKILL.md
  .github/copilot/skills/query-firestore/SKILL.md
  .github/copilot/skills/typescript-conventions/SKILL.md
  README.md
  docs/database/expenses-document-structure.md
  docs/database/trip-document-structure.md
  docs/legacy-trips/2021c-sao-paulo-gui.json
  docs/legacy-trips/2022-sao-paulo-jan.json
  docs/legacy-trips/2022-sao-paulo.json
  firebase.json
  firestore.rules
  functions/src/admin.ts
  functions/src/dev/init-local-db.ts
  functions/src/index.ts
  functions/src/migrations/15-migrate-cleanup-user-embedded-summaries.ts
  functions/src/migrations/15-migrate-phase3-hotfixes.ts
  package.json
  public/assets/css/edit/edit.css
  public/assets/css/index/index.css
  public/assets/css/view/view.css
  public/assets/ts/backup/restore.ts
  public/assets/ts/data/firebase/auth.ts
  public/assets/ts/data/firebase/database.ts
  public/assets/ts/data/services/auth.service.ts
  public/assets/ts/data/services/destination.service.ts
  public/assets/ts/data/services/trip.service.ts
  public/assets/ts/models/new-schema.ts
  public/assets/ts/pages/home/support/data.ts
  scripts/build/deploy.py
  scripts/dev/query-firestore.js
  scripts/utils/open-on-ready.js
Due: biome-css, biome-ts, run-python-script

M159
  .github/copilot/skills/backlog-management/SKILL.md
  .github/copilot/skills/backup-restore/SKILL.md
  .github/copilot/skills/build-pipeline/SKILL.md
  .github/copilot/skills/css-ui-patterns/SKILL.md
  .github/copilot/skills/firebase-emulators/SKILL.md
  .github/copilot/skills/git-workflow/SKILL.md
  .github/copilot/skills/i18n-system/SKILL.md
  .github/copilot/skills/migration-system/SKILL.md
  .github/copilot/skills/typescript-conventions/SKILL.md
  README.md
  copilot-instructions.md
Due: run-python-script

B162
  README.md
  public/assets/ts/pages/trip-detail/categories/transportation-module.ts
  public/assets/ts/pages/trip-detail/support/swiper.ts
Due: run-python-script

M160
  .gitignore
  README.md
  docs/ai-analysis/1-framework-recommendation.md
  docs/ai-analysis/2-edit-styling-guide.md
  docs/ai-analysis/3-firestore-auth-intensity.md
  docs/ai-analysis/4-vendor-globals-cleanup.md
  docs/ai-analysis/5-encryption-at-rest.md
  docs/ai-analysis/firestore-auth-intensity.md
  docs/ai-analysis/new-database-proposal.md
  package.json
  public/assets/ts/backup/import-documents.ts
  scripts/dev/start-emulator.js
  scripts/utils/backup.js
Due: run-python-script

F157
  .github/copilot/skills/data-model/SKILL.md
  README.md
  docs/database/destination-document-structure.md
  functions/src/index.ts
  functions/src/migrations/15-migrate-phase3-improvements.ts
  public/assets/ts/data/services/destination.service.ts
  public/assets/ts/pages/edit-destination/edit-destination.ts
  public/assets/ts/pages/edit-destination/existing-destination.ts
  public/assets/ts/pages/edit-destination/set-destination.ts
  public/assets/ts/pages/home/support/data.ts
  public/assets/ts/utils/set.ts
  public/edit/destination.html
  public/index.html
Due: biome-html, biome-ts, run-python-script

B163, F159, M161
  .github/skills/backlog-management/SKILL.md
  .github/skills/backup-restore/SKILL.md
  .github/skills/browser-navigation/SKILL.md
  .github/skills/build-pipeline/SKILL.md
  .github/skills/css-ui-patterns/SKILL.md
  .github/skills/data-model/SKILL.md
  .github/skills/firebase-emulators/SKILL.md
  .github/skills/git-workflow/SKILL.md
  .github/skills/i18n-system/SKILL.md
  .github/skills/migration-system/SKILL.md
  .github/skills/query-firestore/SKILL.md
  .github/skills/typescript-conventions/SKILL.md
  .vscode/settings.json
  README.md
  copilot-instructions.md
  docs/database/destination-document-structure.md
  functions/src/migrations/15-migrate-phase3-improvements.ts
  public/assets/css/edit/edit.css
  public/assets/json/languages/en.json
  public/assets/json/languages/pt.json
  public/assets/ts/pages/edit-destination/edit-destination.ts
  public/assets/ts/pages/edit-destination/existing-destination.ts
  public/assets/ts/pages/edit-destination/set-destination.ts
  public/assets/ts/pages/home/support/data.ts
  public/destination.html
  public/edit/destination.html
  public/edit/listing.html
  public/edit/trip.html
  public/expenses.html
  public/index.html
  public/itinerary.html
  public/shared/nav-helper.html
  public/view.html
  scripts/build/build.js
  scripts/build/inject-partials.js
Due: biome-html, biome-json, biome-css, biome-ts, run-python-script

F155, B164, M164
  .github/skills/data-model/SKILL.md
  .github/skills/migration-system/SKILL.md
  README.md
  docs/database/destination-document-structure.md
  functions/src/migrations/15-migrate-phase3-improvements.ts
  public/assets/css/components/modal.css
  public/assets/css/edit/edit.css
  public/assets/json/languages/en.json
  public/assets/json/languages/pt.json
  public/assets/ts/models/new-schema.ts
  public/assets/ts/pages/edit-destination/categories/image.ts
  public/assets/ts/pages/edit-destination/edit-destination.ts
  public/assets/ts/pages/edit-destination/existing-destination.ts
  public/assets/ts/pages/edit-destination/new-destination.ts
  public/assets/ts/pages/edit-destination/set-destination.ts
  public/assets/ts/pages/edit-destination/support/event-listeners.ts
  public/assets/ts/pages/edit-trip/categories/accommodation.ts
  public/assets/ts/pages/edit-trip/categories/itinerary-module/inner-itinerary/content.ts
  public/assets/ts/pages/edit-trip/categories/itinerary-module/inner-itinerary/inner-itinerary.ts
  public/assets/ts/pages/edit-trip/support/event-listeners.ts
  public/assets/ts/pages/home/support/data.ts
  public/assets/ts/utils/set.ts
  public/edit/destination.html
  public/index.html
  scripts/build/build.js
Due: biome-html, biome-json, biome-css, biome-ts, run-python-script

F174, M165, M166
  .github/skills/backlog-management/SKILL.md
  .github/skills/browser-navigation/SKILL.md
  .github/skills/build-pipeline/SKILL.md
  README.md
  copilot-instructions.md
  package.json
  public/assets/css/components/modal.css
  public/assets/css/components/toast.css
  public/assets/css/edit/edit.css
  public/assets/css/index/index.css
  public/assets/json/languages/en.json
  public/assets/json/languages/pt.json
  public/assets/ts/backup/backup.ts
  public/assets/ts/backup/export-documents.ts
  public/assets/ts/backup/import-documents.ts
  public/assets/ts/pages/edit-destination/categories/description.ts
  public/assets/ts/pages/edit-destination/categories/image.ts
  public/assets/ts/pages/edit-trip/categories/accommodation.ts
  public/assets/ts/pages/edit-trip/categories/expenses.ts
  public/assets/ts/pages/edit-trip/categories/itinerary-module/inner-itinerary/content.ts
  public/assets/ts/pages/edit-trip/categories/itinerary-module/inner-itinerary/inner-itinerary.ts
  public/assets/ts/pages/edit-trip/categories/travelers.ts
  public/assets/ts/pages/edit-trip/edit-trip.ts
  public/assets/ts/pages/home/support/data.ts
  public/assets/ts/pages/home/support/event-listeners.ts
  public/assets/ts/pages/trip-detail/categories/itinerary-module/inner-itinerary.ts
  public/assets/ts/utils/access.ts
  public/assets/ts/utils/messages.ts
  scripts/build/build.js
  scripts/build/deploy.py
  scripts/build/id-class-map.json
  scripts/build/translate-ids.js
  scripts/dev/ensure-ports-free.js
  scripts/utils/readme.py
Due: biome-json, biome-css, run-python-script

Update README.md
  README.md
Due: run-python-script

Path conditions:
  biome-html: any of: ^public/(edit/)?[^/]+/.*\.html$|^public/.*\.html$
  biome-js: any of: ^public/assets/js/.*\.js$
  biome-json: any of: ^public/assets/json/.*\.json$
  biome-css: any of: ^public/assets/css/.*\.css$
  biome-ts: any of: ^functions/src/.*\.ts$
  run-python-script: any of: ^README\.md$
