Repository gabrielofavero/Trip-Viewer-Firebase: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-html, biome-js, biome-json, biome-css, biome-ts, run-python-script

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # HTML
      - id: biome-html
        name: Format HTML
        entry: bash -c "npx biome format --write || true"
        language: system
        files: ^public/(edit/)?[^/]+/.*\.html$|^public/.*\.html$

      # JS
      - id: biome-js
        name: Format JS
        entry: bash -c "npx biome format --write || true"
        language: system
        files: ^public/assets/js/.*\.js$

      # JSON
      - id: biome-json
        name: Format JSON
        entry: bash -c "npx biome format --write || true"
        language: system
        files: ^public/assets/json/.*\.json$

      # CSS
      - id: biome-css
        name: Format CSS
        entry: bash -c "npx biome format --write || true"
        language: system
        files: ^public/assets/css/.*\.css$

      # TypeScript (Firebase functions)
      - id: biome-ts
        name: Format TypeScript
        entry: bash -c "npx biome format --write || true"
        language: system
        files: ^functions/src/.*\.ts$

  - repo: local
    hooks:
      - id: run-python-script
        name: Formats README.md
        entry: bash -c "python readme.py || true"
        language: system
        files: ^README\.md$

P15
  public/assets/js/core/config.js
  public/assets/js/main/main.js
  public/assets/js/main/translation.js
  public/assets/js/models/destination.js
  public/assets/js/models/expense.js
  public/assets/js/models/itinerary.js
  public/assets/js/pages/destination/categories.js
  public/assets/js/pages/destination/destination.js
  public/assets/js/pages/destination/edit-destination.js
  public/assets/js/pages/destination/support/content.js
  public/assets/js/pages/destination/support/trip.js
  public/assets/js/pages/edit-destination/categories/description.js
  public/assets/js/pages/edit-destination/categories/price.js
  public/assets/js/pages/edit-destination/set-destination.js
  public/assets/js/pages/edit-trip/categories/itinerary-module/inner-itinerary/inner-itinerary.js
  public/assets/js/pages/edit-trip/categories/transportation.js
  public/assets/js/pages/edit-trip/new-trip.js
  public/assets/js/pages/expenses/categories.js
  public/assets/js/pages/view/categories/destination.js
  public/assets/js/pages/view/categories/itinerary-module/inner-itinerary.js
  public/assets/js/pages/view/categories/transportation-module.js
  public/assets/js/support/pages/data.js
  public/assets/js/support/styles/colors.js
  refactoring-plan.md
Due: biome-js

P16
  public/destination.html
  public/edit/destination.html
  public/edit/listing.html
  public/edit/trip.html
  public/expenses.html
  public/index.html
  public/itinerary.html
  public/shared/head.html
  public/shared/scripts-core.html
  public/shared/scripts-vendor.html
  public/shared/top-bar.html
  public/view.html
  refactoring-plan.md
  scripts/build.js
  scripts/inject-partials.js
Due: biome-html

P18
  README.md
  public/assets/js/pages/expenses/categories.js
  public/assets/js/pages/expenses/support/embed.js
  public/assets/js/pages/itinerary/itinerary.js
  public/assets/js/pages/view/view.js
  public/assets/js/services/auth-service.js
  public/assets/js/services/destination-service.js
  public/assets/js/services/expense-service.js
  public/assets/js/services/trip-service.js
  public/assets/js/support/components/dynamic-select.js
  public/assets/js/support/components/sortable.js
  public/assets/js/support/firebase/database.js
  public/assets/js/support/firebase/storage.js
  public/assets/js/support/firebase/user.js
  public/assets/js/support/html/accordion.js
  public/assets/js/support/html/fields.js
  public/assets/js/support/pages/attributions.js
  public/assets/js/support/styles/visibility.js
  refactoring-plan.md
Due: biome-js, run-python-script

2-P1
  public/shared/scripts-vendor.html
  second-refactoring-plan.md
Due: biome-html

2-P2
  public/destination.html
  public/edit/destination.html
  public/edit/listing.html
  public/edit/trip.html
  public/expenses.html
  public/index.html
  public/itinerary.html
  public/shared/top-bar.html
  public/view.html
  scripts/inject-partials.js
  second-refactoring-plan.md
Due: biome-html

2-P3
  public/assets/css/edit/edit.css
  public/assets/js/main/translation.js
  public/assets/js/pages/destination/categories.js
  public/assets/js/pages/destination/support/sort-and-filter/support/price-bucket.js
  public/assets/js/pages/edit-destination/import-destination.js
  public/assets/js/pages/edit-trip/categories/travelers.js
  public/assets/js/pages/expenses/expenses-converted.js
  public/assets/js/pages/expenses/support/currency.js
  public/assets/js/pages/expenses/support/data.js
  public/assets/js/pages/itinerary/itinerary-formatter.js
  public/assets/js/services/auth-service.js
  public/assets/js/services/destination-service.js
  public/assets/js/services/expense-service.js
  public/assets/js/services/trip-service.js
  public/assets/js/support/components/bimap.js
  public/assets/js/support/components/custom-select.js
  public/assets/js/support/components/dynamic-select.js
  public/assets/js/support/components/sortable.js
  public/assets/js/support/firebase/database.js
  public/assets/js/support/firebase/storage.js
  public/assets/js/support/firebase/user.js
  public/assets/js/support/html/accordion.js
  public/assets/js/support/html/embed.js
  public/assets/js/support/html/fields.js
  public/assets/js/support/pages/data.js
  public/assets/js/support/pages/dates.js
  public/assets/js/support/pages/devices.js
  public/assets/js/support/pages/messages.js
  public/assets/js/support/styles/animations.js
  public/assets/js/support/styles/colors.js
  public/assets/js/support/styles/stylesheets.js
  public/assets/js/support/styles/visibility.js
  second-refactoring-plan.md
Due: biome-js, biome-css

2-P4
  prompts-history/1 refactoring-plan.md
  public/assets/js/components/accordion.js
  public/assets/js/components/bimap.js
  public/assets/js/components/custom-select.js
  public/assets/js/components/dynamic-select.js
  public/assets/js/components/embed.js
  public/assets/js/components/fields.js
  public/assets/js/components/sortable.js
  public/assets/js/pages/destination/destination-entry.js
  public/assets/js/pages/edit-destination/destination-entry.js
  public/assets/js/pages/edit-listing/listing-entry.js
  public/assets/js/pages/edit-trip/trip-entry.js
  public/assets/js/pages/expenses/expenses-entry.js
  public/assets/js/pages/itinerary/itinerary-entry.js
  public/assets/js/pages/view/view-entry.js
  public/assets/js/utils/index.js
  second-refactoring-plan.md
Due: biome-js

2-P5
  README.md
  public/assets/js/components/dynamic-select.js
  public/assets/js/components/fields.js
  public/assets/js/core/config.js
  public/assets/js/models/expense.js
  public/assets/js/pages/edit-destination/edit-destination.js
  public/assets/js/pages/edit-destination/existing-destination.js
  public/assets/js/pages/edit-trip/categories/accommodation.js
  public/assets/js/pages/view/categories/gallery.js
  public/assets/js/pages/view/categories/itinerary-module/itinerary-module.js
  public/assets/js/support/pages/messages.js
  public/assets/js/support/styles/colors.js
  public/assets/js/support/styles/visibility.js
  second-refactoring-plan.md
Due: biome-js, run-python-script

docs: readme
  README.md
Due: run-python-script

chore: deploy new version
  public/assets/json/version.json
Due: biome-json

fix: build and dependencies
  package-lock.json
  package.json
  yarn.lock
Due: none

4-P0
  ai/tasks/4-imports-window-fix-plan.md
  firebase-config.js
  index.js
  package-lock.json
  package.json
  public/assets/js/app/main.js
  public/assets/js/backup/backup.js
  public/assets/js/backup/restore.js
  public/assets/js/data/firebase/database.js
  public/assets/js/i18n/translation.js
  public/assets/js/models/expense.model.js
  public/assets/js/pages/destination/destination.js
  public/assets/js/pages/destination/edit-destination.js
  public/assets/js/pages/edit-destination/edit-destination.js
  public/assets/js/pages/edit-listing/edit-listing.js
  public/assets/js/pages/edit-trip/edit-trip.js
  public/assets/js/pages/edit-trip/existing-trip.js
  public/assets/js/pages/expenses/expenses.js
  public/assets/js/pages/home/index.js
  public/assets/js/pages/home/support/data.js
  public/assets/js/pages/itinerary/itinerary.js
  public/assets/js/pages/trip-detail/support/embed.js
  public/assets/js/pages/trip-detail/support/sensitive-reservation.js
  public/assets/js/pages/trip-detail/view.js
  public/assets/js/ui/fields.js
  public/assets/js/utils/dom.js
  public/assets/js/utils/loading.js
  public/assets/js/utils/messages.js
  public/assets/js/utils/set.js
  public/shared/scripts-vendor.html
  scripts/build.js
  scripts/check-errors.js
  scripts/check-imports.js
  yarn.lock
Due: biome-html, biome-js

4-P1
  ai/tasks/4-imports-window-fix-plan.md
  public/assets/js/app/main.js
  public/assets/js/i18n/translation.js
  scripts/check-imports.js
Due: biome-js

4-P2
  ai/tasks/4-imports-window-fix-plan.md
  public/assets/js/pages/destination/destination-entry.js
  public/assets/js/pages/destination/destination.js
  public/assets/js/pages/edit-destination/destination-entry.js
  public/assets/js/pages/edit-destination/edit-destination.js
  public/assets/js/pages/edit-listing/edit-listing.js
  public/assets/js/pages/edit-listing/listing-entry.js
  public/assets/js/pages/edit-trip/edit-trip.js
  public/assets/js/pages/edit-trip/trip-entry.js
  public/assets/js/pages/expenses/expenses-entry.js
  public/assets/js/pages/expenses/expenses.js
  public/assets/js/pages/home/index-entry.js
  public/assets/js/pages/home/index.js
  public/assets/js/pages/itinerary/itinerary-entry.js
  public/assets/js/pages/itinerary/itinerary.js
  public/assets/js/pages/trip-detail/view-entry.js
  public/assets/js/pages/trip-detail/view.js
Due: biome-js

4-P3
  ai/tasks/4-imports-window-fix-plan.md
  public/assets/js/data/firebase/storage.js
  public/assets/js/data/state.js
  public/assets/js/models/itinerary.model.js
  public/assets/js/pages/destination/destination.js
  public/assets/js/pages/destination/support/trip.js
  public/assets/js/pages/edit-listing/edit-listing.js
  public/assets/js/pages/edit-listing/existing-listing.js
  public/assets/js/pages/edit-trip/categories/basic-data/protected-data.js
  public/assets/js/pages/edit-trip/categories/basic-data/set-protected-data.js
  public/assets/js/pages/edit-trip/edit-trip.js
  public/assets/js/pages/edit-trip/existing-trip.js
  public/assets/js/pages/edit-trip/set-trip.js
  public/assets/js/pages/itinerary/itinerary.js
  public/assets/js/pages/trip-detail/categories/accommodation-module.js
  public/assets/js/pages/trip-detail/categories/destination.js
  public/assets/js/pages/trip-detail/categories/gallery.js
  public/assets/js/pages/trip-detail/categories/itinerary-module/calendar.js
  public/assets/js/pages/trip-detail/categories/itinerary-module/inner-itinerary.js
  public/assets/js/pages/trip-detail/categories/itinerary-module/itinerary-module.js
  public/assets/js/pages/trip-detail/categories/summary.js
  public/assets/js/pages/trip-detail/categories/transportation-module.js
  public/assets/js/pages/trip-detail/support/countdown.js
  public/assets/js/pages/trip-detail/support/embed.js
  public/assets/js/pages/trip-detail/support/sensitive-reservation.js
  public/assets/js/pages/trip-detail/support/visibility.js
  public/assets/js/pages/trip-detail/view.js
  public/assets/js/theme/visibility.js
  public/assets/js/utils/attributions.js
  public/assets/js/utils/dom.js
  scripts/migrate-firestore-data.js
Due: biome-js

4-P5
  ai/tasks/4-imports-window-fix-plan.md
  public/assets/js/backup/restore.js
  public/assets/js/data/firebase/database.js
  public/assets/js/data/firebase/storage.js
  public/assets/js/pages/destination/destination-entry.js
  public/assets/js/pages/destination/destination.js
  public/assets/js/pages/destination/edit-destination.js
  public/assets/js/pages/edit-destination/destination-entry.js
  public/assets/js/pages/edit-destination/edit-destination.js
  public/assets/js/pages/edit-listing/listing-entry.js
  public/assets/js/pages/edit-trip/categories/travelers.js
  public/assets/js/pages/edit-trip/edit-trip.js
  public/assets/js/pages/edit-trip/existing-trip.js
  public/assets/js/pages/edit-trip/trip-entry.js
  public/assets/js/pages/expenses/expenses-entry.js
  public/assets/js/pages/expenses/expenses.js
  public/assets/js/pages/expenses/support/currency.js
  public/assets/js/pages/expenses/support/data.js
  public/assets/js/pages/home/index-entry.js
  public/assets/js/pages/itinerary/itinerary-entry.js
  public/assets/js/pages/trip-detail/support/embed.js
  public/assets/js/pages/trip-detail/support/sensitive-reservation.js
  public/assets/js/pages/trip-detail/view-entry.js
  public/assets/js/pages/trip-detail/view.js
  public/assets/js/theme/visibility.js
  public/assets/js/ui/accordion.js
  public/assets/js/ui/dynamic-select.js
  public/assets/js/ui/fields.js
Due: biome-js

4-P6
  ai/tasks/4-imports-window-fix-plan.md
  public/assets/js/pages/trip-detail/categories/itinerary-module/calendar.js
Due: biome-js

fix: index.html
  index.js
  public/assets/js/backup/backup.js
  public/assets/js/backup/restore.js
  public/assets/js/data/firebase/auth.js
  public/assets/js/pages/edit-listing/edit-listing.js
  public/assets/js/pages/edit-trip/edit-trip.js
  public/assets/js/pages/home/index.js
  public/assets/js/pages/home/support/data.js
  public/assets/js/pages/home/support/event-listeners.js
  public/assets/js/pages/home/support/navigation.js
  public/assets/js/theme/colors.js
  public/assets/js/theme/theme.js
  public/assets/js/theme/visibility.js
  public/assets/js/utils/attributions.js
  public/assets/js/utils/messages.js
  public/assets/json/languages/pt.json
  public/index.html
  public/shared/head.html
  scripts/check-imports.js
Due: biome-html, biome-js, biome-json

5-P0
  ai/tasks/5-onclick-cleanup-plan.md
  public/assets/js/app/main.js
  public/assets/js/pages/home/support/event-listeners.js
  public/assets/js/ui/actions.js
  scripts/check-imports.js
Due: biome-js

5-P1
  public/assets/js/pages/destination/destination-entry.js
  public/assets/js/pages/destination/destination.js
  public/assets/js/pages/destination/edit-destination.js
  public/assets/js/pages/destination/support/event-listeners.js
  public/assets/js/pages/destination/support/sort-and-filter/filter.js
  public/assets/js/pages/destination/support/sort-and-filter/sort.js
  public/assets/js/pages/destination/support/sort-and-filter/support/drawer.js
  public/destination.html
Due: biome-html, biome-js

5-P2
  public/assets/js/pages/trip-detail/categories/itinerary-module/calendar.js
  public/assets/js/pages/trip-detail/categories/itinerary-module/inner-itinerary.js
  public/assets/js/pages/trip-detail/support/event-listeners.js
  public/assets/js/pages/trip-detail/view-entry.js
  public/assets/js/pages/trip-detail/view.js
  public/view.html
Due: biome-html, biome-js

5-P3
  public/assets/js/pages/edit-trip/categories/basic-data/protected-data.js
  public/assets/js/pages/edit-trip/categories/expenses.js
  public/assets/js/pages/edit-trip/categories/travelers.js
  public/assets/js/pages/edit-trip/edit-trip.js
  public/assets/js/pages/edit-trip/support/event-listeners.js
  public/edit/trip.html
Due: biome-html, biome-js

5-P4
  public/assets/js/pages/edit-destination/destination-entry.js
  public/assets/js/pages/edit-destination/edit-destination.js
  public/assets/js/pages/edit-destination/support/event-listeners.js
  public/assets/js/pages/edit-listing/edit-listing.js
  public/assets/js/pages/edit-listing/listing-entry.js
  public/assets/js/pages/edit-listing/support/event-listeners.js
  public/assets/js/pages/expenses/expenses-entry.js
  public/assets/js/pages/expenses/expenses.js
  public/assets/js/pages/expenses/support/event-listeners.js
  public/assets/js/pages/itinerary/itinerary-entry.js
  public/assets/js/pages/itinerary/itinerary.js
  public/assets/js/pages/itinerary/support/event-listeners.js
  public/edit/destination.html
  public/edit/listing.html
  public/expenses.html
  public/itinerary.html
Due: biome-html, biome-js

5-P5
  public/assets/js/pages/destination/categories.js
  public/assets/js/pages/destination/destination.js
  public/assets/js/pages/destination/edit-destination.js
  public/assets/js/pages/destination/support/content.js
  public/assets/js/pages/destination/support/event-listeners.js
  public/assets/js/pages/trip-detail/categories/accommodation-module.js
  public/assets/js/pages/trip-detail/categories/destination.js
  public/assets/js/pages/trip-detail/categories/itinerary-module/inner-itinerary.js
  public/assets/js/pages/trip-detail/categories/transportation-module.js
  public/assets/js/pages/trip-detail/support/event-listeners.js
  public/assets/js/utils/dom.js
Due: biome-js

5-P6
  public/assets/js/pages/edit-destination/categories/description.js
  public/assets/js/pages/edit-destination/edit-destination.js
  public/assets/js/pages/edit-destination/new-destination.js
  public/assets/js/pages/edit-destination/support/event-listeners.js
  public/assets/js/pages/edit-trip/categories/accommodation.js
  public/assets/js/pages/edit-trip/categories/expenses.js
  public/assets/js/pages/edit-trip/categories/itinerary-module/inner-itinerary/content.js
  public/assets/js/pages/edit-trip/categories/itinerary-module/inner-itinerary/inner-itinerary.js
  public/assets/js/pages/edit-trip/new-trip.js
  public/assets/js/pages/edit-trip/support/event-listeners.js
Due: biome-js

aaaaa
  README.md
  _check.py
  _check_ua.py
  package.json
  public/assets/js/pages/destination/support/visibility.js
  public/assets/js/pages/edit-destination/edit-destination.js
  public/assets/js/pages/edit-listing/edit-listing.js
  public/assets/js/pages/edit-trip/categories/basic-data/protected-data.js
  public/assets/js/pages/edit-trip/support/event-listeners.js
  public/assets/js/pages/trip-detail/categories/destination.js
  public/assets/js/pages/trip-detail/categories/itinerary-module/itinerary-module.js
  public/assets/js/pages/trip-detail/support/embed.js
  public/assets/js/utils/pin.js
  scripts/README.md
  scripts/build/build.js
  scripts/build/deploy.py
  scripts/build/inject-partials.js
  scripts/build/setup.ps1
  scripts/lint/add-exports.py
  scripts/lint/check-cross-module-refs.py
  scripts/lint/check-errors.js
  scripts/lint/check-imports.js
  scripts/lint/export-missing.js
  scripts/lint/fix-imports.js
  scripts/lint/fix-imports.py
  scripts/lint/migrate-firestore-data.js
  scripts/utils/readme.py
  scripts/utils/sync.py
  tmp_issues.json
Due: biome-js, run-python-script

bbbbb
  scripts/add-exports.py
  scripts/fix-imports.py
Due: none

multi fixes
  public/assets/ts/data/firebase/database.ts
  public/assets/ts/data/state.ts
  public/assets/ts/pages/destination/categories.ts
  public/assets/ts/pages/destination/destination.ts
  public/assets/ts/pages/destination/edit-destination.ts
  public/assets/ts/pages/destination/support/content.ts
  public/assets/ts/pages/destination/support/sort-and-filter/filter.ts
  public/assets/ts/pages/destination/support/trip.ts
  public/assets/ts/pages/edit-destination/import-destination.ts
  public/assets/ts/pages/expenses/expenses.ts
  public/assets/ts/pages/itinerary/itinerary-formatter.ts
  public/assets/ts/pages/itinerary/itinerary.ts
  public/assets/ts/pages/trip-detail/categories/accommodation-module.ts
  public/assets/ts/pages/trip-detail/categories/destination.ts
  public/assets/ts/pages/trip-detail/categories/gallery.ts
  public/assets/ts/pages/trip-detail/categories/summary.ts
  public/assets/ts/pages/trip-detail/categories/transportation-module.ts
  public/assets/ts/pages/trip-detail/view.ts
  public/assets/ts/utils/dom.ts
  public/assets/ts/vendor.d.ts
Due: none

edit destination fixes
  public/assets/ts/i18n/translation.ts
  public/assets/ts/pages/destination/categories.ts
  public/assets/ts/pages/destination/destination.ts
  public/assets/ts/pages/destination/edit-destination.ts
  public/assets/ts/pages/destination/support/content.ts
  public/assets/ts/pages/edit-destination/categories/description.ts
  public/assets/ts/pages/edit-destination/categories/price.ts
  public/assets/ts/pages/edit-destination/edit-destination.ts
  public/assets/ts/pages/edit-destination/existing-destination.ts
  public/assets/ts/pages/edit-destination/new-destination.ts
Due: none

fixes
  public/assets/ts/pages/destination/categories.ts
  public/assets/ts/pages/destination/destination.ts
  public/assets/ts/pages/edit-destination/edit-destination.ts
  public/assets/ts/pages/edit-destination/existing-destination.ts
  public/assets/ts/pages/edit-listing/edit-listing.ts
  public/assets/ts/pages/edit-listing/existing-listing.ts
Due: none

translations
  public/assets/ts/app/config.ts
  public/assets/ts/app/main.ts
  public/assets/ts/backup/backup.ts
  public/assets/ts/data/firebase/database.ts
  public/assets/ts/data/state.ts
  public/assets/ts/models/destination.model.ts
  public/assets/ts/models/expense.model.ts
  public/assets/ts/models/itinerary.model.ts
  public/assets/ts/models/trip.model.ts
  public/assets/ts/pages/destination/categories.ts
  public/assets/ts/pages/destination/destination.ts
  public/assets/ts/pages/destination/edit-destination.ts
  public/assets/ts/pages/destination/support/content.ts
  public/assets/ts/pages/destination/support/visibility.ts
  public/assets/ts/pages/edit-destination/categories/description.ts
  public/assets/ts/pages/edit-destination/categories/price.ts
  public/assets/ts/pages/edit-destination/edit-destination.ts
  public/assets/ts/pages/edit-destination/existing-destination.ts
  public/assets/ts/pages/edit-destination/set-destination.ts
  public/assets/ts/pages/edit-listing/edit-listing.ts
  public/assets/ts/pages/edit-trip/categories/itinerary-module/inner-itinerary/inner-itinerary.ts
  public/assets/ts/pages/edit-trip/categories/itinerary-module/itinerary-module.ts
  public/assets/ts/pages/edit-trip/edit-trip.ts
  public/assets/ts/pages/edit-trip/new-trip.ts
  public/assets/ts/pages/trip-detail/categories/destination.ts
  public/assets/ts/pages/trip-detail/categories/gallery.ts
  public/assets/ts/pages/trip-detail/categories/itinerary-module/inner-itinerary.ts
  public/assets/ts/pages/trip-detail/categories/itinerary-module/itinerary-module.ts
  public/assets/ts/pages/trip-detail/categories/summary.ts
  public/assets/ts/pages/trip-detail/categories/transportation-module.ts
  public/assets/ts/pages/trip-detail/view.ts
  public/assets/ts/utils/dom.ts
  public/assets/ts/utils/messages.ts
  public/assets/ts/utils/pin.ts
Due: none

view fixes partial
  public/assets/css/view/view.css
  public/assets/ts/pages/expenses/support/embed.ts
  public/assets/ts/pages/trip-detail/categories/transportation-module.ts
  public/assets/ts/pages/trip-detail/support/swiper.ts
  public/assets/ts/utils/pin.ts
  public/assets/ts/vendor.d.ts
Due: biome-css

F167
  README.md
  public/assets/ts/app/main.ts
  public/assets/ts/pages/home/index.ts
  public/assets/ts/pages/home/support/data.ts
  public/assets/ts/utils/dev.ts
  public/assets/ts/vendor.d.ts
Due: run-python-script
