Repository gabrielofavero/Trip-Viewer-Firebase: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-html, biome-js, biome-json, biome-css, biome-ts, run-python-script

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # HTML
      - id: biome-html
        name: Format HTML
        entry: npx biome format --write
        language: system
        files: ^public/(edit/)?[^/]+/.*\.html$|^public/.*\.html$
        always_run: false

      # JS
      - id: biome-js
        name: Format JS
        entry: npx biome format --write
        language: system
        files: ^public/assets/js/.*\.js$
        always_run: false

      # JSON
      - id: biome-json
        name: Format JSON
        entry: npx biome format --write
        language: system
        files: ^public/assets/json/.*\.json$
        always_run: false

      # CSS
      - id: biome-css
        name: Format CSS
        entry: npx biome format --write
        language: system
        files: ^public/assets/css/.*\.css$
        always_run: false

      # TypeScript (Firebase functions)
      - id: biome-ts
        name: Format TypeScript
        entry: npx biome format --write
        language: system
        files: ^functions/src/.*\.ts$
        always_run: false

  - repo: local
    hooks:
      - id: run-python-script
        name: Formats README.md
        entry: python readme.py
        language: system
        files: ^README\.md$

minor animation fix
  .pre-commit-config.yaml
  README.md
  public/assets/js/paginas/gastos/gastos.js
  public/assets/js/suporte/estilos/animacoes.js
Due: biome-js, run-python-script

F139
  README.md
  public/assets/js/paginas/destinos/destinos.js
  public/assets/js/paginas/viagem/categorias/destinos.js
  public/assets/js/suporte/estilos/visibilidade.js
Due: biome-js, run-python-script

B135
  README.md
  public/assets/js/paginas/destinos/categorias.js
  public/assets/js/paginas/destinos/suporte/content.js
  public/assets/js/paginas/destinos/suporte/sort-and-filter/sort-and-filter.js
Due: biome-js, run-python-script

F141
  README.md
  public/assets/css/destinos/destinos.css
  public/assets/js/paginas/destinos/categorias.js
  public/assets/js/paginas/destinos/editar-destino.js
  public/assets/js/paginas/destinos/suporte/content.js
  public/assets/js/paginas/destinos/suporte/trip.js
  public/assets/json/languages/en.json
  public/assets/json/languages/pt.json
Due: biome-js, biome-json, biome-css, run-python-script

update version.json
  public/assets/json/version.json
Due: biome-json

🏆F134 (initial)
  public/assets/css/itinerary/itinerary-dark.css
  public/assets/css/itinerary/itinerary.css
  public/assets/js/main/main.js
  public/assets/js/paginas/itinerary/itinerary.js
  public/assets/js/suporte/paginas/atribuicoes.js
  public/itinerary.html
Due: biome-html, biome-js, biome-css

🏆F134
  README.md
  public/assets/css/itinerary/itinerary-dark.css
  public/assets/css/itinerary/itinerary.css
  public/itinerary.html
Due: biome-html, biome-css, run-python-script

🏆F135
  README.md
  public/assets/css/itinerary/itinerary-dark.css
  public/assets/css/itinerary/itinerary.css
  public/assets/js/main/main.js
  public/assets/js/paginas/gastos/gastos.js
  public/assets/js/paginas/itinerary/itinerary.js
  public/assets/js/suporte/paginas/pin.js
  public/assets/json/languages/en.json
  public/assets/json/languages/pt.json
  public/assets/json/version.json
Due: biome-js, biome-json, biome-css, run-python-script

🏆F136 (partial)
  README.md
  public/assets/html templates/legendas-programacao.html
  public/assets/js/paginas/destinos/categorias.js
  public/assets/js/paginas/destinos/suporte/content.js
  public/assets/js/paginas/editar-viagem/viagem-existente.js
  public/assets/js/paginas/itinerary/itinerary-formatter.js
  public/assets/js/paginas/itinerary/itinerary.js
  public/assets/js/paginas/viagem/categorias/destinos.js
  public/assets/js/paginas/viagem/categorias/programacao/inner-programacao.js
  public/assets/js/paginas/viagem/suporte/sensitive-reservation.js
  public/assets/js/paginas/viagem/viagem.js
  public/assets/js/suporte/firebase/database.js
  public/assets/js/suporte/paginas/dados.js
  public/assets/json/languages/en.json
  public/assets/json/languages/pt.json
  public/itinerary.html
Due: biome-html, biome-js, biome-json, run-python-script

edit page fix
  public/assets/js/paginas/editar-viagem/categorias/programacao/inner-programacao/inner-programacao.js
Due: biome-js

E041 ( just missing some extra styling)
  README.md
  public/assets/js/paginas/itinerary/itinerary-formatter.js
  public/assets/js/paginas/viagem/categorias/programacao/inner-programacao.js
Due: biome-js, run-python-script

many fixes
  public/assets/css/itinerary/itinerary-dark.css
  public/assets/css/itinerary/itinerary.css
  public/assets/js/paginas/destinos/suporte/trip.js
  public/assets/js/paginas/editar-viagem/categorias/hospedagem.js
  public/assets/js/paginas/editar-viagem/viagem-existente.js
  public/assets/js/paginas/itinerary/itinerary-formatter.js
  public/assets/js/paginas/itinerary/itinerary.js
  public/assets/js/paginas/viagem/categorias/hospedagens.js
  public/assets/js/paginas/viagem/categorias/transportes.js
  public/assets/js/suporte/estilos/cores.js
  public/assets/js/suporte/estilos/visibilidade.js
  public/assets/js/suporte/paginas/datas.js
  public/assets/json/languages/en.json
  public/assets/json/languages/pt.json
  public/assets/json/version.json
  public/destination.html
Due: biome-html, biome-js, biome-json, biome-css

ios adjustments
  public/assets/js/paginas/itinerary/itinerary-formatter.js
  public/assets/json/version.json
Due: biome-js, biome-json

more notes adjustments
  public/assets/css/itinerary/itinerary.css
  public/assets/js/paginas/itinerary/itinerary-formatter.js
  public/assets/json/version.json
Due: biome-js, biome-json, biome-css

ios restore
  public/assets/js/paginas/itinerary/itinerary-formatter.js
  public/assets/json/version.json
Due: biome-js, biome-json

title fix
  public/assets/js/paginas/itinerary/itinerary-formatter.js
  public/assets/js/paginas/viagem/categorias/programacao/inner-programacao.js
Due: biome-js

title fix
  public/assets/js/paginas/editar-viagem/categorias/programacao/programacao.js
  public/assets/js/paginas/itinerary/itinerary-formatter.js
  public/assets/js/paginas/viagem/categorias/programacao/inner-programacao.js
  public/assets/js/suporte/paginas/dados.js
Due: biome-js

list view fix
  public/assets/css/itinerary/itinerary.css
Due: biome-css

update version and readme
  README.md
  public/assets/json/version.json
Due: biome-json, run-python-script

E041 (#28)
  README.md
  public/assets/css/itinerary/itinerary-dark.css
  public/assets/css/itinerary/itinerary.css
  public/assets/html templates/legendas-programacao.html
  public/assets/js/main/main.js
  public/assets/js/paginas/destinos/categorias.js
  public/assets/js/paginas/destinos/suporte/content.js
  public/assets/js/paginas/destinos/suporte/trip.js
  public/assets/js/paginas/editar-viagem/categorias/hospedagem.js
  public/assets/js/paginas/editar-viagem/categorias/programacao/inner-programacao/inner-programacao.js
  public/assets/js/paginas/editar-viagem/categorias/programacao/programacao.js
  public/assets/js/paginas/editar-viagem/viagem-existente.js
  public/assets/js/paginas/gastos/gastos.js
  public/assets/js/paginas/itinerary/itinerary-formatter.js
  public/assets/js/paginas/itinerary/itinerary.js
  public/assets/js/paginas/viagem/categorias/destinos.js
  public/assets/js/paginas/viagem/categorias/hospedagens.js
  public/assets/js/paginas/viagem/categorias/programacao/inner-programacao.js
  public/assets/js/paginas/viagem/categorias/transportes.js
  public/assets/js/paginas/viagem/suporte/sensitive-reservation.js
  public/assets/js/paginas/viagem/viagem.js
  public/assets/js/suporte/estilos/cores.js
  public/assets/js/suporte/estilos/visibilidade.js
  public/assets/js/suporte/firebase/database.js
  public/assets/js/suporte/paginas/atribuicoes.js
  public/assets/js/suporte/paginas/dados.js
  public/assets/js/suporte/paginas/datas.js
  public/assets/js/suporte/paginas/pin.js
  public/assets/json/languages/en.json
  public/assets/json/languages/pt.json
  public/assets/json/version.json
  public/expenses.html
  public/itinerary.html
Due: biome-html, biome-js, biome-json, biome-css, run-python-script

F142
  README.md
  public/assets/js/paginas/viagem/categorias/programacao/programacao.js
  public/assets/json/languages/en.json
  public/assets/json/languages/pt.json
  public/view.html
Due: biome-html, biome-js, biome-json, run-python-script

translation minor fix
  public/assets/json/languages/en.json
Due: biome-json

B137
  README.md
  public/assets/js/paginas/destinos/destinos.js
  public/assets/js/suporte/paginas/carregamento.js
Due: biome-js, run-python-script

B139, M137, M138
  README.md
  public/assets/js/paginas/destinos/destinos.js
  public/assets/js/paginas/gastos/gastos.js
  public/assets/js/paginas/viagem/suporte/embed.js
  public/assets/js/paginas/viagem/viagem.js
  public/assets/js/suporte/estilos/cores.js
  public/assets/js/suporte/estilos/visibilidade.js
Due: biome-js, run-python-script

M138 (improvement)
  public/assets/js/suporte/estilos/visibilidade.js
Due: biome-js

B136
  README.md
  public/assets/js/paginas/destinos/destinos.js
  public/assets/js/paginas/destinos/editar-destino.js
  public/assets/js/paginas/destinos/suporte/content.js
  public/assets/js/suporte/paginas/dados.js
  public/assets/json/languages/en.json
  public/assets/json/languages/pt.json
Due: biome-js, biome-json, run-python-script

B138
  README.md
  public/assets/css/itinerary/itinerary-dark.css
  public/assets/css/itinerary/itinerary.css
  public/itinerary.html
Due: biome-html, biome-css, run-python-script

M137
  README.md
  public/assets/css/itinerary/itinerary.css
  public/assets/css/viagem/viagem.css
  public/assets/json/version.json
Due: biome-json, biome-css, run-python-script

M136
  README.md
  public/assets/js/paginas/itinerary/itinerary-formatter.js
  public/assets/json/version.json
Due: biome-js, biome-json, run-python-script

M140
  README.md
  public/assets/js/main/main.js
  public/assets/js/paginas/destinos/suporte/trip.js
  public/assets/js/paginas/editar-viagem/categorias/programacao/inner-programacao/inner-programacao.js
  public/assets/js/paginas/itinerary/itinerary-formatter.js
  public/assets/js/paginas/viagem/categorias/programacao/inner-programacao.js
  public/assets/json/information.json
  public/assets/json/itinerary.json
Due: biome-js, biome-json, run-python-script

hotfix
  public/assets/json/version.json
  public/index.html
Due: biome-html, biome-json

hotfix
  public/edit/destination.html
  public/edit/listing.html
  public/edit/trip.html
Due: biome-html

B140
  README.md
  public/assets/js/paginas/destinos/editar-destino.js
  public/assets/js/paginas/destinos/suporte/content.js
  public/assets/js/paginas/viagem/categorias/programacao/inner-programacao.js
  public/assets/js/suporte/paginas/dados.js
  public/assets/json/version.json
Due: biome-js, biome-json, run-python-script

version update
  public/assets/json/version.json
Due: biome-json

M137 (fix)
  public/assets/js/paginas/destinos/categorias.js
  public/assets/js/paginas/editar-destino/editar-destino.js
  public/assets/js/paginas/editar-listagem/editar-listagem.js
  public/assets/js/paginas/editar-viagem/suporte/event-listeners.js
  public/assets/js/paginas/index/suporte/navegacao.js
  public/assets/js/paginas/itinerary/itinerary.js
  public/assets/js/paginas/viagem/categorias/destinos.js
  public/assets/js/paginas/viagem/categorias/programacao/programacao.js
  public/assets/js/paginas/viagem/suporte/embed.js
  public/assets/js/suporte/estilos/visibilidade.js
  public/assets/js/suporte/paginas/dados.js
Due: biome-js

B141
  README.md
  deploy.py
  public/assets/js/paginas/viagem/categorias/programacao/inner-programacao.js
  public/assets/json/languages/en.json
  public/assets/json/languages/pt.json
  public/assets/json/version.json
Due: biome-js, biome-json, run-python-script

B142
  README.md
  public/assets/js/paginas/destinos/destinos.js
  public/assets/js/paginas/destinos/suporte/embed/embed.js
  public/assets/js/paginas/destinos/suporte/embed/media-embed.js
  public/assets/js/paginas/gastos/gastos.js
  public/assets/js/paginas/viagem/suporte/embed.js
  public/assets/js/paginas/viagem/viagem.js
  public/assets/js/suporte/estilos/visibilidade.js
  public/destination.html
  public/expenses.html
  public/view.html
Due: biome-html, biome-js, run-python-script
