Repository gabrielofavero/Trip-Viewer-Firebase: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-html, biome-js, biome-json, biome-css, biome-ts, run-python-script

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # HTML
      - id: biome-html
        name: Format HTML
        entry: bash -c "npx biome format --write || true"
        language: system
        files: ^public/(edit/)?[^/]+/.*\.html$|^public/.*\.html$

      # JS
      - id: biome-js
        name: Format JS
        entry: bash -c "npx biome format --write || true"
        language: system
        files: ^public/assets/js/.*\.js$

      # JSON
      - id: biome-json
        name: Format JSON
        entry: bash -c "npx biome format --write || true"
        language: system
        files: ^public/assets/json/.*\.json$

      # CSS
      - id: biome-css
        name: Format CSS
        entry: bash -c "npx biome format --write || true"
        language: system
        files: ^public/assets/css/.*\.css$

      # TypeScript (Firebase functions)
      - id: biome-ts
        name: Format TypeScript
        entry: bash -c "npx biome format --write || true"
        language: system
        files: ^functions/src/.*\.ts$

  - repo: local
    hooks:
      - id: run-python-script
        name: Formats README.md
        entry: bash -c "python readme.py || true"
        language: system
        files: ^README\.md$

minor improvements
  public/assets/css/viagem/viagem-dark.css
  public/assets/css/viagem/viagem.css
  public/assets/js/paginas/viagem/categorias/programacao/inner-programacao.js
Due: biome-js, biome-css

version update
  public/assets/json/version.json
Due: biome-json

embed hot fix
  public/assets/js/paginas/viagem/suporte/embed.js
Due: biome-js

M141
  README.md
  public/assets/js/main/main.js
Due: biome-js, run-python-script

M142
  README.md
  public/assets/js/paginas/destinos/suporte/embed/media-embed.js
Due: biome-js, run-python-script

F143
  README.md
  public/assets/js/suporte/paginas/mensagens.js
Due: biome-js, run-python-script

B143
  README.md
  public/assets/js/paginas/editar-viagem/categorias/programacao/inner-programacao/inner-programacao.js
Due: biome-js, run-python-script

update version
  public/assets/json/version.json
Due: biome-json

minor bugfix
  public/assets/js/paginas/destinos/destinos.js
Due: biome-js

Update score field handling in editar-destino.js to set default value for '?'
  public/assets/js/paginas/destinos/editar-destino.js
Due: biome-js

F144
  README.md
  sync.py
Due: run-python-script

sync script update
  sync.py
Due: none

B144
  README.md
  public/assets/js/paginas/gastos/gastos.js
  public/assets/js/paginas/itinerary/itinerary.js
  public/assets/js/suporte/paginas/pin.js
Due: biome-js, run-python-script

B145, B146
  README.md
  public/assets/js/paginas/destinos/editar-destino.js
  public/assets/js/paginas/destinos/suporte/content.js
Due: biome-js, run-python-script

F147
  README.md
  public/assets/js/paginas/editar-viagem/nova-viagem.js
  public/assets/js/paginas/itinerary/itinerary-formatter.js
  public/assets/json/transportes.json
Due: biome-js, biome-json, run-python-script

F145
  README.md
  public/assets/js/paginas/destinos/destinos.js
  public/assets/js/paginas/destinos/suporte/embed/embed.js
  public/assets/js/paginas/destinos/suporte/media-embed.js
  public/assets/js/paginas/itinerary/itinerary.js
  public/assets/js/paginas/viagem/categorias/programacao/programacao.js
  public/assets/js/suporte/html/embed.js
  public/destination.html
  public/expenses.html
  public/itinerary.html
  public/view.html
Due: biome-html, biome-js, run-python-script

embed visibility refactoring
  public/assets/js/paginas/destinos/destinos.js
  public/assets/js/paginas/destinos/suporte/visibilidade.js
  public/assets/js/paginas/itinerary/itinerary.js
  public/assets/js/suporte/html/embed.js
Due: biome-js

F146
  README.md
  public/assets/css/itinerary/itinerary-dark.css
  public/assets/css/itinerary/itinerary.css
  public/assets/js/paginas/itinerary/itinerary.js
  public/assets/json/languages/en.json
  public/assets/json/languages/pt.json
  public/itinerary.html
Due: biome-html, biome-js, biome-json, biome-css, run-python-script

Add modernization plan for Trip Viewer project
  MODERNIZATION_PLAN.md
Due: none

B127
  README.md
  public/assets/js/suporte/html/fields.js
Due: biome-js, run-python-script

B123
  README.md
  public/assets/js/main/main.js
Due: biome-js, run-python-script

formatting
  README.md
  public/assets/css/itinerary/itinerary-dark.css
  public/assets/css/itinerary/itinerary.css
  public/assets/js/main/main.js
  public/assets/js/paginas/itinerary/itinerary.js
  public/assets/js/suporte/html/fields.js
  public/assets/json/languages/en.json
  public/assets/json/languages/pt.json
Due: biome-js, biome-json, biome-css, run-python-script

update read-me
  README.md
Due: run-python-script

B147
  README.md
  public/assets/js/paginas/index/suporte/dados.js
  public/assets/js/paginas/index/suporte/navegacao.js
  public/index.html
Due: biome-html, biome-js, run-python-script

B149
  README.md
  public/assets/js/paginas/destinos/suporte/trip.js
  public/assets/js/paginas/index/suporte/dados.js
Due: biome-js, run-python-script

B150
  README.md
  public/assets/js/paginas/viagem/categorias/destinos.js
  public/assets/js/suporte/firebase/database.js
Due: biome-js, run-python-script

M144
  README.md
  public/assets/css/viagem/viagem-dark.css
  public/assets/css/viagem/viagem.css
  public/assets/js/paginas/viagem/categorias/programacao/calendario.js
  public/assets/js/paginas/viagem/categorias/programacao/inner-programacao.js
Due: biome-js, biome-css, run-python-script

B151
  README.md
  public/assets/js/paginas/index/suporte/visibilidade.js
Due: biome-js, run-python-script

M144 (fix)
  public/assets/js/paginas/viagem/categorias/programacao/inner-programacao.js
Due: biome-js

B127 (fix)
  public/assets/js/suporte/html/fields.js
Due: biome-js

F148
  README.md
  public/assets/js/main/main.js
  public/assets/js/paginas/destinos/destinos.js
  public/assets/js/paginas/editar-destino/destino-existente.js
  public/assets/js/paginas/editar-listagem/listagem-existente.js
  public/assets/js/paginas/editar-viagem/viagem-existente.js
  public/assets/js/paginas/itinerary/itinerary.js
  public/assets/js/paginas/viagem/viagem.js
Due: biome-js, run-python-script

Update README.md
  README.md
Due: run-python-script
